<template>
    <div class="sso-privacy-policy-global-page">
        <div class="privacy-policy-global-content">
            <h3>PRIVACY NOTICE</h3>
            <div class="content" id="content" v-html="content"></div>
        </div>
    </div>
</template>

<script>
import  { CMS_GET_GLOBAL_PRIVACY_POLICY } from '@/services/cms-service';
import VueScrollTo from 'vue-scrollto';
export default {
    name : 'privacy-policy-global',
    data: () => ({
        content : ''
    }),
    mounted() {
        this.getContent();
    },
    methods: {
        scrollHandler(e) {
            if( e.srcElement.attributes[0].name == 'data-target') {
                let attr = e.srcElement.attributes[0].textContent;
                var options = {
                    container: '#content',
                    easing: 'ease-in',
                    offset: -10,
                    force: true,
                    cancelable: true,
                    x: false,
                    y: true
                }
                VueScrollTo.scrollTo('#'+attr, 1000, options);
            }
        },
        getContent() {

            CMS_GET_GLOBAL_PRIVACY_POLICY({
                params: { countryCode : this.$route.query.countryCode },
                callback: (res) => {

                    this.content = res.globalPrivacyPolicy;

                    // Use to add the click to add anchor tag in side navigation
                    setTimeout( () => {
                        var links = document.getElementsByTagName('a');
                        for( var i=0,il = links.length; i< il; i ++ ){
                            links[i].onclick = this.scrollHandler;
                        }
                    },1000);
                }
            });
        }
    }
}
</script>

<style lang="scss">
@import "@/assets/css/variables.scss";
.sso-privacy-policy-global-page {
    background-color: #FFF;
    margin-top: -16px;
    .privacy-policy-global-content {
        h3 {
            color: #111;
            padding-top: 30px;
            padding-bottom: 20px;
        }
        .content {
            margin: 0 auto;
            text-align: left;
            widows: 100%;
            max-width: 80%;
            color: #111;
            font-size: 1em;
            line-height: 1.6;
        }
    }

}
// Small devices
@media (max-width: $screen-sm) {
    .content {
        widows: 100%;
        max-width: 93% !important;
    }
}
</style>