<template>
    <sso-page 
        title="EMAIL CONFIRMATION" 
        sub-title="Congratulations! <br/>
         Your email has been verified now.">

        <sso-button type="button" class="sso-mb-1" @click="continueToSite">CONTINUE</sso-button>

        <sso-page :loading="loading" loading-delay="none"/>

    </sso-page>

</template>

<script>

import { SSO_EMAIL_VERIFICATION } from '../../services'

export default {
	data: () => ({
        loading : false,
    }),
    
    created() {
        this.verifyAccount();
    },


	methods: {
		continueToSite() {
			window.location = "/profile#/on-boarding";
		},

        verifyAccount() {
            
            // call sso.verifyEmail API
            SSO_EMAIL_VERIFICATION({
                data: { 
                    token: this.$route.query.code
                },
                callback: ({ statusCode, data }) => {

                    console.log(statusCode);
                    
                    if (statusCode === 403408) {
                        // Expired verification link
                        this.$router.replace({
							query: { data },
                            path: `/resend-verification/email?code=${this.$route.query.code}`,
                        });
                        return;
                    }

                    this.$loader.hide();
                }
            })
        }
	}
};
</script>