<template>
  <sso-page title="ONE MORE STEP" sub-title="Your Kapamilya Account is in pending registration. Please complete your profile" :error-message="errorMessage" >
    <form class="sso-frm-content" v-on:submit.prevent="$v.$touch()">

      <sso-salutation class="sso-mb-3" label="mm/dd/yyyy" :tooltip="tooltip.salutation" @value="setSalutationValue" :error="$v.salutation.$error">
				<div class="sso-error" slot="error" v-if="!$v.salutation.required">Salutation is required.</div>
			</sso-salutation>

      <!-- Email Address -->
      <sso-input class="sso-mb-3 sso-pt-2" type="text" :label="emailAddressLabel" v-model.trim="emailAddress" :disabled="emailAddressValue != null" v-if="!isMigrated" :error="$v.emailAddress && $v.emailAddress.$error" >
        <div class="sso-error" slot="error" v-if="$v.emailAddress && !$v.emailAddress.required" >Email address is required.</div>
        <div class="sso-error" slot="error" v-if="$v.emailAddress && !$v.emailAddress.max" >Maximum of 64 characters only.</div>
        <div class="sso-error" slot="error" v-if="$v.emailAddress && !$v.emailAddress.available" >{{ emailError }}</div>
        <div class="sso-error" slot="error" v-if="$v.emailAddress && !$v.emailAddress.format" >Please enter a valid email address.</div>
      </sso-input>

      <!-- Firstname and Lastname -->
      <div class="sso-form-name sso-mb-3">
        <sso-input class="sso-d-inline-block sso-w-50 sso-pr-1" type="text" label="First Name" v-model.trim="firstName" :error="$v.firstName.$error" @blur="fetchSuggestions(firstName, lastName)" v-if="canSetName" >
          <div class="sso-error" slot="error" v-if="!$v.firstName.required">First name is required.</div>
          <div class="sso-error" slot="error" v-if="!$v.firstName.numeric">Invalid First name.</div>
          <div class="sso-error" slot="error" v-if="!$v.firstName.max" >First name should not greater than 32 characters.</div>
        </sso-input>
        <sso-input class="sso-d-inline-block sso-w-50 sso-pl-1" type="text" label="Last Name" v-model.trim="lastName" :error="$v.lastName.$error" @blur="fetchSuggestions(firstName, lastName)" v-if="canSetName" >
          <div class="sso-error" slot="error" v-if="!$v.lastName.required">Last name is required.</div>
          <div class="sso-error" slot="error" v-if="!$v.lastName.numeric">Invalid Last name.</div>
          <div class="sso-error" slot="error" v-if="!$v.lastName.max" >Last name should not greater than 32 characters.</div> </sso-input>
      </div>

      <!-- Kapamilya Name -->
      <sso-input type="text" label="Create a Kapamilya Name" :tooltip="kapamilyaNameTooltip" info="Characters accepted: letters, numbers, period, underscore, hyphen, “@” symbol" v-model.trim="username" :error="$v.username.$error" >
        <div class="sso-error" slot="error" v-if="!$v.username.required">Kapamilya name is required.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.min" >Kapamilya name must be at least 4 characters.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.max" >Kapamilya name should not greater than 30 characters.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.shouldNotEmail" >Kapamilya name should not be in email address format.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.shouldNotMobile" >Kapamilya name should not be in mobile number format.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.username && ($v.username.shouldNotEmail && $v.username.shouldNotMobile)" >Kapamilya name is invalid.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.available" >Kapamilya name already taken.</div>
      </sso-input>

      <!-- Kapamilyaname Suggestions -->
      <div class="sso-username-suggestions sso-text-left sso-mt-1 sso-mb-2 sso-w-100" v-if="suggestions" >
        You may also choose from these suggestions:
        <span class="sso-uns sso-link" v-for="(suggested, i) in suggestions" :key="i" @click="username = suggested" >
          {{ suggested }}
          <span v-if="i + 1 < suggestions.length">,</span>
        </span>
      </div>

      <sso-birthdate :tooltip="tooltip.birthdate" @value="setBirthdateValue" :error="$v.birthdate.$error">
				<div class="sso-error" slot="error" v-if="!$v.birthdate.required">Birthdate is required.</div>
			</sso-birthdate>

			<div class="sso-text-left" v-if="!isValidBirthdate">
				<div class="sso-error-container">
					<div class="sso-error sso-text-left">
						Invalid birthdate
					</div>
				</div>
			</div>
      <div class="sso-mb-3"></div>

      <!-- Password -->
      <sso-input class="sso-mb-3" :type="passwordType" name="password" label="Password" v-model.trim="password" info="Password must be at least 6 characters." :error="$v.password.$error" v-if="canSetPassword" >
        <i class="fas" 
          slot="icon" :class="passwordEyeIcon" 
          @mousedown="showPassword('mousedown')"
					@mouseup="showPassword('mouseup')"></i>
        <div class="sso-error" slot="error" v-if="!$v.password.required">Password is required.</div>
        <div class="sso-error" slot="error" v-if="!$v.password.min" >Password must be at least 6 characters.</div>
        <div class="sso-error" slot="error" v-if="!$v.password.max" >Password should not greater than 30.</div>
        <sso-password-strength :value="password" slot="custom"></sso-password-strength>
      </sso-input>

      <!-- Confirm Password -->
      <!-- <sso-input class="sso-mb-3" type="password" label="Confirm Password" v-model.trim="rePassword" :error="$v.rePassword.$error" v-if="canSetPassword" >
        <div class="sso-error" slot="error" v-if="!$v.rePassword.sameAs || !$v.rePassword.required" >Confirm Password not matched.</div>
      </sso-input> -->

      <!-- Country -->
      <sso-select class="sso-mb-3 sso-countries" type="text" label="Country of Residence" select-label="countryName" v-model="country" :selected-value="country" :select-options="countries" :error="$v.countryCode.$error" :has-other-option="true" >
        <template slot="selected" slot-scope="option">
          <span>
            <i class="cflags" v-if="option.countryCode != null" :style="{ 'background-position-x': -option.x + 'px', 'background-position-y': -option.y + 'px' }" ></i>
            <span class="cflag-text">{{ option.countryName }}</span>
          </span>
        </template>
        <template slot="select-option" slot-scope="option">
          <span>
            <i class="cflags" v-if="option.countryCode != null" :style="{ 'background-position-x': -option.x + 'px', 'background-position-y': -option.y + 'px' }" ></i>
            <span class="cflag-text">{{ option.countryName }}</span>
          </span>
        </template>
        <div class="sso-error" slot="error" v-if="!$v.countryCode.required">Country is required.</div>
      </sso-select>

      <!-- Terms, Privacy Checkboxes -->
      <div class="sso-signup-checkboxes sso-text-left sso-mb-3">
        <sso-checkbox class="sso-mb-2" name="terms" v-model="terms">
          <p class="sso-pl-1"> I agree to Kapamilya Accounts <br> <a class="sso-link decoration-none sso-d-block" target="_blank" href="/terms-and-conditions" >Terms & Condition.</a> </p>
        </sso-checkbox>
        <sso-checkbox class="sso-mb-3" name="privacy" v-model="privacy">
          <p class="sso-pl-1"> I agree to Kapamilya Accounts <br> <a class="sso-link decoration-none" target="_blank" href="/privacy-policy" >Privacy Policy.</a> </p>
        </sso-checkbox>
        <sso-checkbox class="sso-mb-2" name="email-subscribe" v-model="consent" v-if="country && country.countryCode !== 'PH' && country.countryCode !== 'US'" >
          <p class="sso-pl-1">
            I hereby express my consent to receive
            <a class="sso-link decoration-none sso-has-tooltip" href="javascript:void(0);" >
              commercial electronic messages
              <sso-consent-tooltip :tooltip="tooltip.commercialEletronicMessages"></sso-consent-tooltip>
            </a>
            from <a class="sso-link decoration-none" target="_blank" href="/subsidiaries" >ABS-CBN</a>
            for the purposes described in the
            <a class="sso-link decoration-none" target="_blank" href="/privacy-policy" >Privacy Policy,</a>
            until such time as I withdraw my consent, which I may do at any time.
            <a class="sso-link decoration-none sso-has-tooltip sso-mobile-view" href="javascript:void(0);" >
              (How to unsubscribe)
              <sso-consent-tooltip :tooltip="tooltip.howToUnsubscribe">
                <div slot="custom"> See list of how to contact us. <a target="_blank" href="/subsidiaries" class="sso-link" >here.</a> </div>
              </sso-consent-tooltip>
            </a>
          </p>
        </sso-checkbox>
        <div class="sso-error-container sso-mb-3" v-if="$v.terms.$error || $v.privacy.$error">
          <div class="sso-error sso-text-center" v-if="!$v.terms.check || !$v.privacy.check" >Before you proceed, you must agree with our Terms and Conditions and Privacy Policy.</div>
        </div>
      </div>
      <div class="sso-form-control sso-mb-3">
        <vue-recaptcha ref="recaptcha" sitekey="6Lfy0lsUAAAAADoUU8Vcm12lEU3Wmin-WxoIWqJm" theme="dark" @verify="onRecaptchaVerified" @expired="onRecaptchaExpired" ></vue-recaptcha>
        <div class="sso-error-container sso-mt-2" v-if="$v.recaptchaToken.$error || recaptchaExpired" >
          <span class="sso-error sso-text-center" v-if="!$v.recaptchaToken.required && !recaptchaExpired" >You have to prove that you are not a robot.</span>
          <span class="sso-error sso-text-center" v-if="recaptchaExpired" >Captach expired, you must verify it again.</span>
        </div>
      </div>
      <sso-button class="sso-mb-1" type="submit" content="SUBMIT" @click="profileComplete($v.$invalid)" />
    </form>
  </sso-page>
</template>

<script>
import { isEmpty, find } from "lodash";
import { validators } from "@/validators";
import { getClientIP } from "@/services/getClientIP";
import { MOBILE_REGEX, EMAIL_REGEX } from "@/helpers/regex";
import { mapGetters, mapState, mapActions } from "vuex";
import { SUGGEST_KN, SSO_PROFILE_COMPLETION } from "@/services";
import VueRecaptcha from "vue-recaptcha";
import { set_PrivactTermsConsent } from "@/services/privacytermconsent";
import {
  CMS_GET_PrivacyActiveVersion,
  CMS_GET_TermsActiveVersion,
  CMS_GET_MarketingConsent
} from "@/services/cms-service";
import {
  sameAs,
  required,
  maxLength,
  minLength,
  helpers
} from "vuelidate/lib/validators";

export default {
  mounted() {
    this.firstName = this.profile.firstName;
    this.lastName = this.profile.lastName;
    this.emailAddress = this.profile.email;

    if (this.data) {
      if (
        !EMAIL_REGEX.test(this.kapamilyaName) &&
        !MOBILE_REGEX.test(this.kapamilyaName)
      ) {
        this.username = this.kapamilyaName;
      }
    }

    this.fetchSuggestions(this.firstName, this.lastName);

    this.fetchCountry();

    CMS_GET_PrivacyActiveVersion({
      params: {},
      callback: res => {
        this.privacyVersionTitle = res.privacyVersionTitle;
      }
    });
    CMS_GET_TermsActiveVersion({
      params: {},
      callback: res => {
        this.termsVersionTitle = res.termsVersionTitle;
      }
    });

    CMS_GET_MarketingConsent({
      params: {},
      callback: res => {
        this.consentVersionTitle = res.versionTitle;
      }
    });
  },

  data: () => ({
    emailAddress: null,
    firstName: null,
    lastName: null,
    username: null,
    password: null,
    // rePassword: null,
    country: null,
    countryCode: null,

    salutation: null,
    
    birthdate : null,
		isValidBirthdate : true,

    terms: false,
    privacy: false,
    consent: false,

    recaptchaToken: null,
    recaptchaExpired: false,

    pwShown: false,
    suggestions: null,
    errorMessage: null,
    emailError: null,

    mobileTooltip: {
      icon: "fa fa-question-circle",
      text:
        "Overseas mobile numbers are not allowed for registration at the moment."
    },
    kapamilyaNameTooltip: {
      icon: "fa fa-question-circle",
      text:
        "With your Kapamilya Name, you can use one login to your favorite Kapamilya sites and apps, no more worrying about multiple registrations and passwords."
    },

    tooltip: {
      commercialEletronicMessages: {
        text:
          "Commercial electronic messages shall include any message sent or communication carried out by any means of telecommunication, internet or carriage service, including by text, sound, voice or image, to any electronic address including, without limitation in connection with an electronic mail account, or instant messaging account, telephone account or any similar account that, having regard to the content of the message or communication, the way in which it is presented or conveyed, the hyperlinks in the message to content on a website or other database or the contact information contained in the message or communication, includes as its purpose, to encourage participation in a commercial activity, including an electronic message or communication that (a) offers to purchase, sell, barter or lease a product, goods, a service, land or an interest or right in land; (b) offers to provide goods, services, land, an interest in land, a business, investment or gaming opportunity; (c) advertises or promotes anything referred to in paragraph (a) or (b); or (d) advertises or promotes a person, including the public image of a person, as being a person who does anything referred to in any of paragraphs (a) to (c), or who intends to do so.",
        class: "sso-commercial-electronic-message"
      },
      howToUnsubscribe: {
        text:
          "You may unsubscribe anytime by clicking on the unsubscribe link on any ABS-CBN commercial electronic message you receive or by contacting us.",
        class: "sso-how-to-unsubscribe"
      },
      salutation: {
				text: "How do you like to be addressed?",
				icon: "fa fa-question-circle"
			},
			birthdate: {
				text: "Let us make your birthday more memorable with surprise rewards given on your special day. We also ask for this information to offer you appropriate and relevant content",
				icon: "fa fa-question-circle"
			},
    },
    privacyVersionTitle: null,
    termsVersionTitle: null,
    consentVersionTitle: null,

    showPasswordTimer : null,
    showPasswordTimerCount : 0,
    
  }),

  validations() {
    const defaultValidations = {
      username: {
        min: validators.minLength(4),
        max: validators.maxLength(30),
        required: validators.required,
        username: validators.isUsername(),
        shouldNotEmail: validators.isEmail(true),
        shouldNotMobile: validators.isMobile(true),
        available: validators.unAvailable("username", this.selfUID)
      },
      countryCode: {
        required
      },
      terms: {
        check(value) {
          return value;
        }
      },
      privacy: {
        check(value) {
          return value;
        }
      },
      recaptchaToken: {
        required: validators.required
      },
      salutation: {
        required
      },

      birthdate : {
        required
      }
    };

    const nameValidation = !this.canSetName
      ? {}
      : {
          firstName: {
            max: validators.maxLength(32),
            required: validators.required,
            numeric: validators.helpers.regex("numeric", /^[a-zA-Z\s]*$/)
          },
          lastName: {
            max: validators.maxLength(32),
            required: validators.required,
            numeric: validators.helpers.regex("numeric", /^[a-zA-Z\s]*$/)
          }
        };

    const emailAddressValidation = !isEmpty(this.emailAddressValue)
      ? {}
      : {
          emailAddress: {
            required: validators.required,
            max: validators.maxLength(64),
            format: validators.isEmail(),
            available: validators.emailAvailable("email")
          }
        };

    const passwordValidation = !this.canSetPassword
      ? {}
      : {
          password: {
            min: validators.minLength(6),
            required: validators.required,
            max: validators.maxLength(30)
          }
          // rePassword: {
          //   min: validators.minLength(6),
          //   required: validators.required
          // }
        };

    return Object.assign(
      defaultValidations,
      nameValidation,
      emailAddressValidation,
      passwordValidation
    );
  },

  components: { VueRecaptcha },

  computed: {
    ...mapState(["countries", "ipCountry"]),

    ...mapGetters("profileCompletion", {
      token: "token",
      selfUID: "UID",
      isRegistered: "isRegistered",
      hasPassword: "hasPassword",
      kapamilyaName: "username",
      profile: "profile",
      data: "data"
    }),

    emailAddressValue() {
      if (this.profile) {
        if (this.profile.email) {
          return this.profile.email;
        }
      }

      if (this.data) {
        if (this.data.mobile) {
          const mobile = find(this.data.mobile, ["primary", true]);

          if (mobile) {
            this.profile.email = mobile.number;
            return mobile.number;
          }
        }
      }

      return null;
    },

    emailAddressLabel() {
      if (MOBILE_REGEX.test(this.emailAddressValue)) return "Mobile Number";

      return "Email Address";
    },

    isMigrated() {
      return (this.data || { migrated: false }).migrated;
    },

    isTempPassword() {
      return (this.data || { isTempPassword: false }).isTempPassword;
    },

    dataWebSource(){
      return (this.data || { webSource : "" }).webSource;
    },

    canSetPassword() {
      let dwebSource = this.dataWebSource;
      if (dwebSource.includes("studioexperience") || dwebSource.includes("starhunt")){
        return true;

      } else {
        return (!this.hasPassword || this.isTempPassword) && this.isMigrated;

      }
    },

    canSetName() {
      if (this.isMigrated) {
        return isEmpty(this.firstName) || isEmpty(this.lastName);
      }

      return true;
    },

    passwordType() {
      return this.pwShown ? "text" : "password";
    },

    passwordEyeIcon() {
      return this.pwShown ? "fa-eye" : "fa-eye-slash";
    }
  },

  watch: {
    country: function(val) {
      if (val == null) {
        this.countryCode = null;
        return;
      }

      if (val.countryCode != null) {
        this.countryCode = val.countryCode;
      }
    }
  },

  methods: {
    ...mapActions("profileCompletion", ["clearProfileCompletion"]),
    
    setSalutationValue(val) {
			this.salutation = val;
    },

    setBirthdateValue(val) {
      this.birthdate = val;
      setTimeout( () => {
				if(this.birthdate == 'invalid') {
					this.isValidBirthdate = false;
				}
				else {
					this.validateBirthdateValue(this.birthdate);
				}
			}, 100);
		},
    
    profileComplete(invalid) {

      if(this.birthdate == 'invalid') {
				this.isValidBirthdate = false;
			} 
			else {
				this.validateBirthdateValue(this.birthdate);
      }

      if (!invalid && this.isValidBirthdate) {    

        this.$loader.show();

        SSO_PROFILE_COMPLETION({
          data: {
            email: this.emailAddress,
            password: this.password,
            lastName: this.lastName,
            firstName: this.firstName,
            kapamilyaName: this.username,
            country: this.country.countryCode,
            captchaToken: this.recaptchaToken,
            profileCompletionToken: this.token,
            data: {
              terms: true,
              webSource: this.data.webSource,
              salutation: this.salutation
            },
            birthday : this.birthdate
          },

          callback: ({ statusCode, data, verifToken, message, uid }) => {
            //set paramater for privacy, terms, consent
            let prtmcnparams = {
              privacyVersionTitle: this.privacyVersionTitle,
              termsVersionTitle: this.termsVersionTitle,
              MCVersionTitle: this.consentVersionTitle,
              consent: this.consent,
              countryCode: this.country.countryCode
            };

            if (statusCode === 203200) {
              // set where to navigate after profile completion
              const path =
                this.isRegistered && this.kapamilyaName
                  ? "/welcome"
                  : "/thank-you";

              this.clearProfileCompletion().then(() => {
                // store the session info in the browser cookie
                const sessionInfo = data.sessionInfo;

                if (sessionInfo) {
                  // sucessfully login the user
                  this.$sso.successLogin({
                    cookieName: sessionInfo.cookieName,
                    cookieValue: sessionInfo.cookieValue,
                    params: { path }
                  });
                }
              });
              //store data from privacy, terms, consent
              set_PrivactTermsConsent(data.UID, prtmcnparams);

              return;
            } else if (statusCode === 203202) {
              // navigate to email verification has been sent.
              this.$router.push({
                name: "confirm-email-link",
                query: { verifToken }
              });

              //store data from privacy, terms, consent
              set_PrivactTermsConsent(uid, prtmcnparams);
              /////////////////////////////////////////////////
            } else if (statusCode === 403414) {
              this.errorMessage =
                "Your session on this page has been already expired. Kindly login again.";
            } else if (statusCode === 405402) {
              this.recaptchaExpired = true;
              this.$refs.recaptcha.reset();
            } else {
              this.errorMessage = message;
            }

            this.$loader.hide();
          }
        });
      } 
    },

    onRecaptchaVerified(event) {
      this.recaptchaToken = event;
      this.recaptchaExpired = false;
    },

    onRecaptchaExpired() {
      setTimeout( ()=> {
				this.recaptchaExpired = true;
				this.$refs.recaptcha.reset();
			}, 1500);
    },

    fetchSuggestions(fn, ln) {
      if (isEmpty(fn) || isEmpty(ln)) return;

      SUGGEST_KN({
        data: {
          firstName: this.firstName,
          lastName: this.lastName
        },
        callback: suggestions => {
          this.suggestions = suggestions;
        }
      });
    },

    fetchCountry() {
      this.$nextTick(() => {
        const ph = this.data.ph;
        if (!isEmpty(ph)) {
          this.country = find(this.countries, c => {
            return c.countryCode === ph.country;
          });
        }

        if (isEmpty(this.country)) {
          this.country = find(this.countries, c => {
            return c.countryCode === this.ipCountry.iso;
          });
        }
      });
    },

    isValidDate(date) {
			
        var bits = date.split('/');

        let month = parseInt(bits[0]);
        let day = parseInt(bits[1]);
        let year = parseInt(bits[2]);  
        
        // Validate if future date
        if(this.isFutureDate(date)) {
            return false;
        }

        if(year < 1919 || year > new Date().getFullYear()) {
            return false;
        }

        if(month <  1 || month >  12){
            return false;
        } 

        if(day == 0 ){
            return false;
        }
        

        switch(month){
            case 1: case 3: case 5: case 7: case 8: case 10: case 12:
                if(day > 31)
                    return false;
                return true;
            case 2:
                if (year % 4 == 0)
                    if(day > 29){
                        return false;
                    }
                    else{
                        return true;
                    }
                if(day > 28){
                    return false;
                }
                return true;
            case 4: case 6: case 9: case 11:
                if(day > 30){
                    return false;
                }
                return true;
            default:
                return false;
        }

    },

    format(date) {
        var d = date.getDate();
        var m = date.getMonth() + 1;
        var y = date.getFullYear();
        return '' + y + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
    },

    isFutureDate(_date){
        var date = this.format(new Date());
        var curDate = this.format(new Date(_date));
        if(date <= curDate) { return true; }
        else { return false; }
    },

    validateBirthdateValue(val) {
			// Validate if date is valid
			if(val.match(/^\d{1,2}\/\d{1,2}\/\d{4}$/)) {
				this.isValidDate(val) ? 
					this.isValidBirthdate = true : 
					this.isValidBirthdate = false; this.birthdate = val;
			}
			else {
				this.isValidBirthdate = true;
			}
    },
    
    showPassword(evName) {
			if(evName == 'mousedown') {
				this.showPasswordTimer = setInterval( () => {
					this.showPasswordTimerCount++;
				}, 500);
				this.pwShown = !this.pwShown;
			}
			if(evName == 'mouseup') {
				if(this.showPasswordTimerCount >= 1) {
					this.pwShown = !this.pwShown;
				}
				clearInterval(this.showPasswordTimer);
				this.showPasswordTimerCount = 0;
			}
		},
  },

  created() {
    this.$nextTick(() => {
      if (isEmpty(this.country)) {
        this.country = find(this.countries, c => {
          return this.ipCountry.iso == null
            ? c.countryCode === null
            : c.countryCode === this.ipCountry.iso;
        });
      }
    });
  }
};
</script>
<style lang="scss">
.sso-mobile-view {
  @media only screen and (max-width: 320px) {
    display: block;
  }
}
.sso-has-tooltip {
  position: relative;
  &:hover > .sso-consent-tooltip-wrapper {
    display: block;
  }
}
</style>