<template>
    <sso-page :title="linkExpiredTitle" :sub-title="linkExpiredSubtitle"></sso-page>
</template>

<script>
import { mapActions } from 'vuex';
import { SSO_CREATE_PROFILECOMPLETIONTOKEN, SSO_NOTIFY_LOGIN } from '@/services';
import { CMS_GET_SSOSETTINGS } from '@/services/cms-service'

export default {
    data: () => ({
        linkExpiredTitle: null,
        linkExpiredSubtitle: null
    }),
 
    mounted() {
        this.$loader.show();

        CMS_GET_SSOSETTINGS({
            params: {
                name: this.$route.query.SessionCode,
            },
            callback: (res) => {
                if(res.errorCode === 0){
                    let isActive = res.data.isActive;
                    const UID = this.$route.query.UID;

                    if (isActive === true){
                        SSO_CREATE_PROFILECOMPLETIONTOKEN({
                            data: { UID },
                            callback:(result) => {
                                if (result.statusCode === 203208){
                                    let username = result.userData.loginIDs.username;
                                    if (typeof(username) === 'undefined'){
                                        // FOR PROFILE COMPLETION
                                        this.processResponse(result);
                                    } else {
                                        SSO_NOTIFY_LOGIN({
                                            params: { UID },
                                            callback: (response) => {
                                                let errorCode = response.data.errorCode;
                                                if (errorCode === 0) {
                                                    const data = response.data;

                                                    // sucessfully login the user
                                                    this.$sso.successLogin({
                                                        cookieName: data.sessionInfo.cookieName,
                                                        cookieValue: data.sessionInfo.cookieValue
                                                    });
                                                } else {
                                                    // PROFILE COMPLETION FOR OTHER MISSING FIELDS
                                                    SSO_CREATE_PROFILECOMPLETIONTOKEN({
                                                        data: { UID },
                                                        callback:(result) => {
                                                            if (result.statusCode === 203208){
                                                                this.processResponse(result);
                                                            }
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                    }
                                }
                            }
                        });
                    }
                    else {

                        this.linkExpiredTitle = "LINK EXPIRED";
                        this.linkExpiredSubtitle = "Sorry Kapamilya, this link is already expired. Login to Kapamilya Accounts using your MySKY password and complete your profile in order to access Kapamilya Thank You.";

                        this.$loader.hide();
                    }

                }

            }
            
        })
        
        
    },

    methods: {
        ...mapActions('profileCompletion', ['setProfileCompletion']),

        processResponse(result, params = {}) {
            this.setProfileCompletion(Object.assign({ facebook: params }, result.userData, )).then(() => {
                const profileCompletionToken = result.profileCompletionToken
                const profileCompletionType = result.profileCompletionType || ''

                    this.$router.push({
                        path: `/profile-completion/${profileCompletionType}`,
                        query: {
                            profileCompletionToken,
                            from: '/signin'
                        }
                    })
                
                })   
        }
    }
}
</script>

