<template>
    <sso-page title="PROFILE COMPLETION" sub-title="Please fill up the fields to proceed.">
        <form class="sso-frm-content" v-on:submit.prevent="$v.$touch()">
            <sso-input class="sso-d-inline-block sso-mb-3" type="text" label="First Name" v-model="firstName" :error="$v.firstName.$error">
                <div class="sso-error" slot="error" v-if="!$v.firstName.required">First name is required.</div>
                <div class="sso-error" slot="error" v-if="!$v.firstName.max">First name should not greater than 32 characters.</div>
            </sso-input>
            <sso-input class="sso-d-inline-block sso-mb-3" type="text" label="Last Name" v-model="lastName" :error="$v.lastName.$error">
                <div class="sso-error" slot="error" v-if="!$v.lastName.required">Last name is required.</div>
                <div class="sso-error" slot="error" v-if="!$v.lastName.max">Last name should not greater than 32 characters.</div>
            </sso-input>
            <sso-button class="sso-mb-1" type="submit" content="SUBMIT" @click="onSubmit(!$v.$invalid)"></sso-button>
        </form>
    </sso-page>
</template>

<script>
import { mapState } from "vuex";
import { SSO_NAME_COMPLETION } from "@/services";
import {
    required,
    maxLength,
    helpers
} from "vuelidate/lib/validators";

export default {
    data: () => ({
        firstName: null,
        lastName: null,
    }),

    validations: {
        firstName: {
            required,
            max: maxLength(32),
            numeric: helpers.regex('numeric', /^[a-zA-Z\'\-\s]*$/)
        },
        lastName: {
            required,
            max: maxLength(32),
            numeric: helpers.regex('numeric', /^[a-zA-Z\'\-\s]*$/)
        }
    },

    computed: {
		...mapState(['view'])
	},

    methods: {
        onSubmit(valid) {
            if (valid) {
                this.$loader.show();

                SSO_NAME_COMPLETION({
                    data: {
                        UID: this.$route.query.UID,
                        firstname: this.firstName,
                        lastname: this.lastName
                    },
                    callback: (result) => {
                        if  (result.statusCode === 200200) {
                            // REDIRECT 
                            let redirect = this.$route.query.redirect;
                            
                            if (this.view === 'fullscreen') {
                                window.location.href = redirect;
                            }

                            if (this.view === 'slidepanel') {
                                this.$sso.hide()
                            }
                        }
                    }
                });
            }
        }
    }
}
</script>
