<template>
  <sso-page title="ONE MORE STEP" secondary-title="SIGN UP WITH FACEBOOK">
    <div class="sso-social-profile">
      <img :src="userPhoto" @error="() => userPhoto = 'https://assets.abs-cbn.com/sso/images/unknown.jpg'" >
      <p>Please complete your profile.</p>
    </div>
    <div class="sso-error-summary sso-mt-3" v-if="errorMessage">{{ errorMessage }}</div>
    <form class="sso-frm-content sso-mt-4" v-on:submit.prevent="$v.$touch()">
      <sso-salutation class="sso-mb-3" :tooltip="tooltip.salutation" @value="setSalutationValue" :error="$v.salutation.$error">
				<div class="sso-error" slot="error" v-if="!$v.salutation.required">Salutation is required.</div>
			</sso-salutation>
      <sso-input type="text" name="username" label="Create a Kapamilya Name" info="Characters accepted: letters, numbers, period, underscore, hyphen, “@” symbol" :tooltip="usernameTooltip" :error="$v.username.$error" v-model.trim="username" >
        <div class="sso-error" slot="error" v-if="!$v.username.required">Kapamilya name is required.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.min" >Kapamilya name must be at least 4 characters.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.max" >Kapamilya name should not greater than 30 characters.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.shouldNotEmail" >Kapamilya name should not be in email address format.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.shouldNotMobile" >Kapamilya name should not be in mobile number format.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.username && ($v.username.shouldNotEmail && $v.username.shouldNotMobile)" >Kapamilya name is invalid.</div>
        <div class="sso-error" slot="error" v-if="!$v.username.available" >Kapamilya name already taken.</div>
      </sso-input>
      <div class="sso-username-suggestions sso-text-left sso-mt-1 sso-w-100" v-if="suggestions">
        You may also choose from these suggestions:
        <span class="sso-uns sso-link" v-for="(suggested, i) in suggestions" :key="i" @click="username = suggested" >
          {{ suggested }} <span v-if="i + 1 < suggestions.length">,</span>
        </span>
      </div>
      <sso-birthdate :tooltip="tooltip.birthdate" @value="setBirthdateValue" :error="$v.birthdate.$error">
				<div class="sso-error" slot="error" v-if="!$v.birthdate.required">Birthdate is required.</div>
			</sso-birthdate>
			<div class="sso-signup-checkboxes sso-text-left sso-mb-3" v-if="!isValidBirthdate">
				<div class="sso-error-container">
					<div class="sso-error sso-text-left">
						Invalid birthdate
					</div>
				</div>
			</div>
      <sso-select class="sso-mt-4 sso-mb-3 sso-countries" type="text" label="Country of Residence" select-label="countryName" v-model="country" :selected-value="country" :select-options="countries" :error="$v.countryCode.$error" :has-other-option="true" >
        <template slot="selected" slot-scope="option">
          <span>
            <i class="cflags" v-if="option.countryCode != null" :style="{ 'background-position-x': -option.x + 'px', 'background-position-y': -option.y + 'px' }" ></i>
            <span class="cflag-text">{{ option.countryName }}</span>
          </span>
        </template>
        <template slot="select-option" slot-scope="option">
          <span>
            <i class="cflags" v-if="option.countryCode != null" :style="{ 'background-position-x': -option.x + 'px', 'background-position-y': -option.y + 'px' }" ></i>
            <span class="cflag-text">{{ option.countryName }}</span>
          </span>
        </template>
        <div class="sso-error" slot="error" v-if="!$v.countryCode.required">Country is required.</div>
      </sso-select>
      <div class="sso-signup-checkboxes sso-text-left sso-mb-3">
        <sso-checkbox class="sso-mb-2" name="terms" v-model="terms">
          <p class="sso-pl-1"> I agree to Kapamilya Accounts <br> <a class="sso-link decoration-none sso-d-block" target="_blank" href="/terms-and-conditions" >Terms & Conditions.</a>
          </p>
        </sso-checkbox>
        <sso-checkbox class="sso-mb-3" name="privacy" v-model="privacy">
          <p class="sso-pl-1"> I agree to Kapamilya Accounts <br> <a class="sso-link decoration-none" target="_blank" href="/privacy-policy" >Privacy Policy.</a> </p>
        </sso-checkbox>
        <sso-checkbox class="sso-mb-2" name="email-subscribe" v-model="consent" v-if="country && country.countryCode !== 'PH' && country.countryCode !== 'US'" >
          <p class="sso-pl-1">
            I hereby express my consent to receive
            <a class="sso-link decoration-none sso-has-tooltip" href="javascript:void(0);" >
              commercial electronic messages
              <sso-consent-tooltip :tooltip="tooltip.commercialEletronicMessages"></sso-consent-tooltip>
            </a>
            from <a class="sso-link decoration-none" target="_blank" href="/subsidiaries">ABS-CBN</a>
            for the purposes described in the
            <a class="sso-link decoration-none" target="_blank" href="/privacy-policy" >Privacy Policy,</a>
            until such time as I withdraw my consent, which I may do at any time.
            <a class="sso-link decoration-none sso-has-tooltip sso-mobile-view" href="javascript:void(0);" >
              (How to unsubscribe)
              <sso-consent-tooltip :tooltip="tooltip.howToUnsubscribe">
                <div slot="custom"> See list of how to contact us. <a target="_blank" href="/subsidiaries" class="sso-link">here.</a> </div>
              </sso-consent-tooltip>
            </a>
          </p>
        </sso-checkbox>
        <div class="sso-error-container sso-mb-3" v-if="$v.terms.$error || $v.privacy.$error">
          <div class="sso-error sso-text-center" v-if="!$v.terms.check || !$v.privacy.check" >Before you proceed, you must agree with our Terms and Conditions and Privacy Policy.</div>
        </div>
      </div>
      <sso-button type="submit" content="SUBMIT" @click="onSubmit(!$v.$invalid)"/>
    </form>
  </sso-page>
</template>

<script>
import { isEmpty, find } from "lodash";
import { mapState, mapGetters } from "vuex";
import { SUGGEST_KN, SSO_PROFILE_COMPLETION } from "@/services";
import { required, maxLength, minLength } from "vuelidate/lib/validators";
import { isEmail, isMobile, isUsername, unAvailable } from "@/validators";
import VueRecaptcha from "vue-recaptcha";
import { set_PrivactTermsConsent } from "@/services/privacytermconsent";
import {
  CMS_GET_PrivacyActiveVersion,
  CMS_GET_TermsActiveVersion,
  CMS_GET_MarketingConsent
} from "@/services/cms-service";

export default {
  data: () => ({
    username: null,
    country: null,
    countryCode: null,
    
    salutation: null,

		birthdate : null,
    isValidBirthdate : true,
    
    terms: false,
    privacy: false,
    consent: false,

    recaptchaExpired: false,

    suggestions: null,
    errorMessage: null,
    usernameTooltip: {
      icon: "fa fa-question-circle",
      text:
        "With your Kapamilya Name, you can use one login to your favorite Kapamilya sites and apps, no more worrying about multiple registrations and passwords."
    },

    tooltip: {
      commercialEletronicMessages: {
        text:
          "Commercial electronic messages shall include any message sent or communication carried out by any means of telecommunication, internet or carriage service, including by text, sound, voice or image, to any electronic address including, without limitation in connection with an electronic mail account, or instant messaging account, telephone account or any similar account that, having regard to the content of the message or communication, the way in which it is presented or conveyed, the hyperlinks in the message to content on a website or other database or the contact information contained in the message or communication, includes as its purpose, to encourage participation in a commercial activity, including an electronic message or communication that (a) offers to purchase, sell, barter or lease a product, goods, a service, land or an interest or right in land; (b) offers to provide goods, services, land, an interest in land, a business, investment or gaming opportunity; (c) advertises or promotes anything referred to in paragraph (a) or (b); or (d) advertises or promotes a person, including the public image of a person, as being a person who does anything referred to in any of paragraphs (a) to (c), or who intends to do so.",
        class: "sso-commercial-electronic-message"
      },

      howToUnsubscribe: {
        text:
          "You may unsubscribe anytime by clicking on the unsubscribe link on any ABS-CBN commercial electronic message you receive or by contacting us.",
        class: "sso-how-to-unsubscribe"
      },
      
      salutation: {
				text: "How do you like to be addressed?",
				icon: "fa fa-question-circle"
			},

			birthdate: {
				text: "Let us make your birthday more memorable with surprise rewards given on your special day. We also ask for this information to offer you appropriate and relevant content",
				icon: "fa fa-question-circle"
			},
    },
    privacyVersionTitle: null,
    termsVersionTitle: null,
    consentVersionTitle: null
  }),
  mounted() {
    this.getSuggestions();

    if (isEmpty(this.country)) {
      this.country = find(this.countries, c => {
        return c.countryCode === this.ipCountry.iso;
      });
    }

    CMS_GET_PrivacyActiveVersion({
      params: {},
      callback: res => {
        this.privacyVersionTitle = res.privacyVersionTitle;
      }
    });
    CMS_GET_TermsActiveVersion({
      params: {},
      callback: res => {
        this.termsVersionTitle = res.termsVersionTitle;
      }
    });

    CMS_GET_MarketingConsent({
      params: {},
      callback: res => {
        this.consentVersionTitle = res.versionTitle;
      }
    });
  },
  components: { VueRecaptcha },

  validations: {
    username: {
      required,
      min: minLength(4),
      max: maxLength(30),
      username: isUsername(),
      shouldNotEmail: isEmail(true),
      shouldNotMobile: isMobile(true),
      available: unAvailable("username")
    },
    countryCode: { required },
    terms: {
      check(value) {
        return value;
      }
    },
    privacy: {
      check(value) {
        return value;
      }
    },
    salutation: {
			required
		},

		birthdate : {
			required
		}
  },

  watch: {
    country: function(val) {
      if (val == null) {
        this.countryCode = null;
        return;
      }

      if (val.countryCode != null) {
        this.countryCode = val.countryCode;
      }
    }
  },

  computed: {
    ...mapState(["countries", "ipCountry"]),

    ...mapGetters("profileCompletion", ["facebook"]),

    userPhoto() {
      return `https://graph.facebook.com/v2.5/${
        this.facebook.user_id
      }/picture?type=large`;
    }
  },

  methods: {
    setSalutationValue(val) {
			this.salutation = val;
		},
		setBirthdateValue(val) {
      this.birthdate = val;
      setTimeout( () => {
				if(this.birthdate == 'invalid') {
					this.isValidBirthdate = false;
				}
				else {
					this.validateBirthdateValue(this.birthdate);
				}
			}, 100);
		},
    getSuggestions() {
      if (!this.facebook) return;

      if (!this.facebook.fn || !this.facebook.ln) return;

      SUGGEST_KN({
        data: {
          firstName: this.facebook.fn,
          lastName: this.facebook.ln
        },
        callback: suggestions => {
          this.suggestions = suggestions;
        }
      });
    },

    onSubmit(valid) {
      
      if(this.birthdate == 'invalid') {
				this.isValidBirthdate = false;
			}
			else {
				this.validateBirthdateValue(this.birthdate);
      }

      if (valid && this.isValidBirthdate) {
        this.$loader.show();

        const profileCompletionToken = this.$route.query.profileCompletionToken;
        SSO_PROFILE_COMPLETION({
          data: {
            profileCompletionToken,
            kapamilyaName: this.username,
            country: this.country.countryCode,
            data : {
              salutation: this.salutation
            },
            birthday : this.birthdate
          },
          callback: ({ statusCode, data, message }) => {
            // store the session info in the browser cookie
            if (statusCode === 203200) {
              if (data.sessionInfo) {
                //set paramater for privacy, terms, consent
                let prtmcnparams = {
                  privacyVersionTitle: this.privacyVersionTitle,
                  termsVersionTitle: this.termsVersionTitle,
                  MCVersionTitle: this.consentVersionTitle,
                  consent: this.consent,
                  countryCode: this.country.countryCode
                };
                //store data from privacy, terms, consent
                set_PrivactTermsConsent(data.UID, prtmcnparams);

                // sucessfully login the user
                this.$sso.successLogin({
                  cookieName: data.sessionInfo.cookieName,
                  cookieValue: data.sessionInfo.cookieValue,
                  params: { path: "/thank-you" }
                });
              }

              return;
            } else if (statusCode === 403414) {
              this.errorMessage =
                "Your session on this page has been already expired. Kindly login again.";
            } else {
              this.errorMessage = message;
            }

            this.$loader.hide();
          }
        });
      }
    },
    isValidDate(date) {
        
        var bits = date.split('/');

        let month = parseInt(bits[0]);
        let day = parseInt(bits[1]);
        let year = parseInt(bits[2]); 

      // Validate if future date
        if(this.isFutureDate(date)) {
                return false;
        }

        if(year < 1919 || year > new Date().getFullYear()) {
            return false;
        }

        if(month <  1 || month >  12){
            return false;
        }

        if(day == 0 ){
            return false;
        }
        
        switch(month){
            case 1: case 3: case 5: case 7: case 8: case 10: case 12:
                if(day > 31)
                    return false;
                return true;
            case 2:
                if (year % 4 == 0)
                    if(day > 29){
                        return false;
                    }
                    else{
                        return true;
                    }
                if(day > 28){
                    return false;
                }
                return true;
            case 4: case 6: case 9: case 11:
                if(day > 30){
                    return false;
                }
                return true;
            default:
                return false;
        }
    },
    
    format(date) {
        var d = date.getDate();
        var m = date.getMonth() + 1;
        var y = date.getFullYear();
        return '' + y + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
    },

    isFutureDate(_date){
        var date = this.format(new Date());
        var curDate = this.format(new Date(_date));
        if(date <= curDate) { return true; }
        else { return false; }
    },

    validateBirthdateValue(val) {
			// Validate if date is valid
			if(val.match(/^\d{1,2}\/\d{1,2}\/\d{4}$/)) {
				this.isValidDate(val) ? 
					this.isValidBirthdate = true : 
					this.isValidBirthdate = false; this.birthdate = val;
			}
			else {
				this.isValidBirthdate = true;
			}
		},
  },
  created() {
    this.$nextTick(() => {
      if (isEmpty(this.country)) {
        this.country = find(this.countries, c => {
          return this.ipCountry.iso == null
            ? c.countryCode === null
            : c.countryCode === this.ipCountry.iso;
        });
      }
    });
  }
};
</script>

<style lang="scss">
@import "@/assets/css/mixins.scss";
@include sso-page-content {
  .sso-social-profile {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-sizing: border-box;
    }

    p {
      font-size: 0.8em;
    }
  }
}
.sso-mobile-view {
  @media only screen and (max-width: 320px) {
    display: block;
  }
}
.sso-has-tooltip {
  position: relative;
  &:hover > .sso-consent-tooltip-wrapper {
    display: block;
  }
}
</style>