<template>
    <div class="sso-overview-page">
        <overview-header :title="title"/>
        <div class="overview-content"> 
            <div v-html="economyLogos"></div>
            <div class="tab-content" id="overviewData" v-html="overviewData"></div>
        </div>
    </div>
</template>

<script>
import  { CMS_GET_CONTENT } from '@/services/cms-service';
export default {
    name : 'overview',
    data: () => ({
        economyLogos : '',
        overviewData : '',
        title : 'Overview'
    }),
    mounted() {
        this.getContent();
    },
    methods: {
        getContent() {
            CMS_GET_CONTENT({
                params: { path : '/overview'},
                callback: (res) => {
                    let data = res.data;
                    this.economyLogos = data[0].content;
                    this.overviewData = data[1].content;
                }
            });
        }
    }
};
</script>

<style lang="scss">
@import "@/assets/css/variables.scss";
.sso-overview-page {
    height: 100%;
    background-color: #FFF;

    .economy-logos {
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0 auto;

        .hub {
            height: 53px;
            width: 53px;
            display: inline-block;
            overflow: hidden;
            background-size : cover;
            margin: 3px;
            background-image: url('https://assets.abs-cbn.com/sso/images/login-hub.png'); 
        }

        .news { 
            background-position: 0 -159px;
        }
        
        .entertainment { 
            background-position: 0 0;
        }
        
        .sports { 
            background-position: 0 -371px;
        }
        
        .lifestyle { 
            background-position: 0 -106px;
        }
        
        .kty { 
            background-position: 0 -848px;
        }
        
        .ktx { 
            background-position: 0 -583px;
        }
        
        .iwant { 
            background-position: 0 -53px;
        }
        
        .myx { 
            background-position: 0 -901px;
        }
        
        .tfc { 
            background-position: 0 -424px;
        }
    }

    .tab-content {
        color: #111111;
        margin: 0 auto;
        max-width: 80%;

        .row {
            text-align: left;
            padding: 10px;
            margin: 0px 20px 50px 0px;
            display: inline-grid;
            width: 45%;
            max-width: 48%;
            h4 {font-size: 1.3em;}
            p { font-size: 1em;line-height: 1.5;}
            a { 
                color: gray; 
                font-size: 1em;                    
                font-weight: 300;
            }                
        }
    }
}

// Small devices
@media (max-width: $screen-sm) {
    .tab-content {
        color: #111111;
        margin: 0 auto;
        max-width: 95% !important;
        .row {
            padding: 0 !important;
            margin: 0 0 50px 0 !important;
            display: inline-grid;
            width: 100% !important;
            max-width: 100% !important;
            h4 {
                font-size: 1.3em;
            }
            p { 
                font-size: 1em;
            }
            a { 
                color: gray; 
                font-size: 1em;                    
                font-weight: 300;
            }                
        }
        .one-login {
            a {
                color:gray; 
                font-size: 1em;
                font-weight: 300;
            }
            
        }
    }
}
// Retina sprite yo!
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hub { 
        background-image: url('https://assets.abs-cbn.com/sso/images/login-hub@2x.png') !important;
    }
}
</style>