<template>
    <div class="sso-privacy-notice-page">
        <overview-header :title="title">
        </overview-header>
        <div class="privacy-notice-content">
            <div class="side-nav">
                <ul v-html="sideNav"></ul>
            </div>
            <div class="content" id="content" v-html="content"></div>
        </div>
    </div>
</template>

<script>
import  { CMS_GET_CONTENT } from '@/services/cms-service';
import VueScrollTo from 'vue-scrollto';
export default {
    name : 'privacy-notice',
    data: () => ({
        sideNav : '',
        content : '',
        title : 'Privacy Notice'
    }),
    mounted() {
        this.getContent();
    },
    methods: {
        scrollHandler(e) {
            if( e.srcElement.attributes[0].name == 'data-target') {
                let attr = e.srcElement.attributes[0].textContent;
                var options = {
                    container: '#content',
                    easing: 'ease-in',
                    offset: -10,
                    force: true,
                    cancelable: true,
                    x: false,
                    y: true
                }
                VueScrollTo.scrollTo('#'+attr, 1000, options);
            }
        },
        getContent() {
            CMS_GET_CONTENT({
                params: { path : '/privacy-policy'},
                callback: (res) => {
                    let data = res.data;
                    this.sideNav = data[0].content;
                    this.content = data[1].content;

                    // Use to add the click to add anchor tag in side navigation
                    this.$nextTick(() => {
                        var links = document.getElementsByTagName('a');
                        for( var i=0,il = links.length; i< il; i ++ ){
                            links[i].onclick = this.scrollHandler;
                        }
                    });
                }
            });
        }
    }
};
</script>

<style lang="scss">
@import "@/assets/css/variables.scss";
.sso-privacy-notice-page {
    height: 100%;
    background-color: #FFF;

    .privacy-notice-content {
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        .side-nav {
            overflow: auto;
            text-align: left;
            width: 25%;
            max-height: 81vh;
            ul {
                padding-left: 0;
                li {
                    list-style: none;
                    text-align: left;
                    margin-top: 20px;
                    a { 
                        text-decoration: none; 
                        color: #111; 
                        font-size: 0.9em;
                        cursor: pointer;
                    }
                }
                li a:hover {
                    text-decoration: underline;
                }
                .divider {
                    margin-top: 0;
                    border-bottom: 1px solid #dedede;
                }
            }
        }
        .content { 
            padding: 0 10px 0 10px;
            text-align: left;
            line-height: 1.9;
            letter-spacing: 0.3px;
            overflow: auto;
            width: 100%;
            max-height: 81vh;
            strong,p { color: #111; }
        }
    }
}

// Small devices
@media (max-width: $screen-md) {
    .privacy-notice-content {
        margin-top: 0px !important;
        .side-nav{
            display: none !important;
        }
    }
}
</style>