<template>
    <div class="sso-subsidiary-page">
        <div class="sso-main-title">
            <h3>
                List of ABS-CBN's Companies, Affiliates and Subsidiaries
            </h3>
        </div>
        <div class="sso-subsidiary-content">
            <div class="sso-subsidiary-content" v-html="content"></div>
        </div>
    </div>
</template>

<script>
import  { CMS_GET_SUBSIDIARIES } from '@/services/cms-service';
export default {
    data: () => ({
        content : ''
    }),

    mounted() {
        CMS_GET_SUBSIDIARIES({
            callback: (res) => {
                this.content = res.subsidiary;

                setTimeout(() => {
                    this.$el.style.boxSizing = 'border-box';
                }, 500);
            }
        });
    },
};
</script>

<style lang="scss">
#sso-container {
    display: flex;
    flex-direction: column;
    .sso-subsidiary-page {
        color: #111111;
        padding-bottom: 30px;
        background-color: #FFF;
    
        .sso-main-title {
            margin: 30px 0;
        }
    
        .sso-subsidiary-content {
            line-height: 2;
            min-height: 500px;
            flex-grow: 2;
        }
    }
}
</style>