<template>
	<sso-page title="RESET PASSWORD" secondary-title="FORGOT PASSWORD" sub-title="To secure your Kapamilya Account, <br>Please create a new password.">
		<div class="sso-error-summary" v-if="errorMessage" v-html="errorMessage"></div>
		<form class="sso-frm-content" v-on:submit.prevent="$v.$touch()">
			<sso-input class="sso-mb-3 sso-mt-3" :type="passwordType" label="Password" v-model="password" info="Password must be at least 6 characters." :error="$v.password.$error">
				<i class="fas" 
					slot="icon" :class="passwordEyeIcon" 
					@mousedown="showPassword('mousedown')"
					@mouseup="showPassword('mouseup')"></i>
				<div class="sso-error" slot="error" v-if="!$v.password.required">Password is required.</div>
				<div class="sso-error" slot="error" v-if="!$v.password.min">Password must be at least 6 characters.</div>
				<sso-password-strength slot="custom" :value="password"></sso-password-strength>
			</sso-input>
			<sso-input class="sso-mb-3" type="password" label="Confirm Password" v-model="confirmPassword" :error="$v.confirmPassword.$error">
				<div class="sso-error" slot="error" v-if="!$v.confirmPassword.required">Password is required.</div>
				<div class="sso-error" slot="error" v-if="!$v.confirmPassword.sameAs">Confirm Password not matched.</div>
			</sso-input>
			<sso-button type="submit" content="SUBMIT" @click="onSubmit(!$v.$invalid)"></sso-button>
		</form>
	</sso-page>
</template>

<script>
import { mapGetters } from 'vuex';
import { SSO_RESET_PASSWORD } from '../../../services';
import {
	required,
	minLength,
	sameAs
} from 'vuelidate/lib/validators';

export default {

	data: () => ({
		password: null,
		confirmPassword: null,
		passwordShown: false,
		errorMessage: null,
		showPasswordTimer : null,
		showPasswordTimerCount : 0,
	}),
	validations: {
		password: {
			required,
			min: minLength(6)
		},
		confirmPassword: {
			required,
			sameAs: sameAs('password')
		}
	},

	computed: {
		...mapGetters(['routeQuery']),

		passwordType() {
			return this.passwordShown ? 'text' : 'password';
		},

		passwordEyeIcon() {
			return this.passwordShown ? 'fa-eye' : 'fa-eye-slash';
		}
	},

	methods: {
		onSubmit(valid) {
			if (valid) {
				this.$loader.show();
				
				SSO_RESET_PASSWORD({
					data: {
						password: this.password,
						confirmPassword: this.confirmPassword,
						passwordResetToken: this.routeQuery.code
					},
					callback: ({ statusCode }) => {
						this.$loader.hide()

						if (statusCode === 203207) {
							this.$router.push({ 
								name: 'password-reset-success' 
							})
						} 
						
						if (statusCode === 403411) {
							this.$router.replace({ 
								path: '/reset-password', 
								query: { from: '/forgot/password' }
							});

							this.errorMessage = 'Password reset link has already expired.';
						}

						if (statusCode === 403400) {
							this.$router.replace({ 
								path: '/reset-password', 
								query: { from: '/signin' }
							});
							this.errorMessage = 'Ops! Something went wrong reseting your password.'
						}
					}
				})
			}
		},

		showPassword(evName) {
			if(evName == 'mousedown') {
				this.showPasswordTimer = setInterval( () => {
					this.showPasswordTimerCount++;
				}, 500);
				this.pwShown = !this.pwShown;
			}
			if(evName == 'mouseup') {
				if(this.showPasswordTimerCount >= 1) {
					this.pwShown = !this.pwShown;
				}
				clearInterval(this.showPasswordTimer);
				this.showPasswordTimerCount = 0;
			}
		},
	}
};
</script>
