<template>
    <sso-page 
        title="CHECK YOUR INBOX" 
        secondary-title="FORGOT PASSWORD" 
        sub-title="We've sent an email to your registered email address. Click the link to reset your password.">

        <p slot="custom-title" class="sso-px-2 sso-message">
            Having trouble receiving our emails? Resend the email by clicking the link below or check your spam/junk folder
        </p>

        <button type="button" class="sso-link decoration-none" @click="resend">
            <i class="fas fa-envelope"></i> Resend Password Reset
        </button>
    </sso-page>
</template>

<script>
import { SSO_RESEND_PASSWORD_RESET } from '../../../services';

export default {
    methods: {
        resend() {
            this.$loader.show()

            SSO_RESEND_PASSWORD_RESET({
                data: {
                    passwordResetToken: this.$route.query.passwordResetToken
                },
                callback: ({ statusCode, passwordResetToken }) => {
                    this.$loader.hide()
                    
                    if (statusCode === 203205) {
                        this.$router.push({
                            path: '/forgot/password/email-sent',
                            query: { passwordResetToken }
                        })
                    }

                    if (statusCode === 403505) {
                        this.$router.replace({
                            path: '/signin'
                        })
                    }
                }
            })
        }
    }
}
</script>

<style lang="scss">
@import '../../../assets/css/mixins.scss';
@include sso-page-title {
    .sso-message {
        font-size: 11px;
        color: #898989;
        line-height: 1.4;
        margin-top: 15px;
    }
}

</style>
