<template>
    <sso-page title="RESET PASSWORD" sub-title="To reset your password, please enter the primary email address or mobile number you registered with your Kapamilya Account." :error-message="errorMessage">
        <form class="sso-frm-content" v-on:submit.prevent="$v.$touch()">
            <div class="sso-form-control">
                <div class="sso-radio sso-mb-5 sso-mt-3">
                    <span class="sso-radio-input" @click="() => errorMessage = null">
                        <input type="radio" name="rdEmailOrMobile" id="rdEmail" class="sso-radion-button" v-model="emailMobile" value="email">
                        <label class="sso-label" for="rdEmail">Email</label>
                    </span>
                    <span class="sso-radio-input" @click="() => errorMessage = null">
                        <input type="radio" name="rdEmailOrMobile" id="rdMobile" class="sso-radion-button" v-model="emailMobile" value="mobile">
                        <label class="sso-label" for="rdMobile">Mobile Number</label>
                    </span>
                </div>
            </div>
            <sso-input class="sso-mb-3" type="text" name="loginID" label="Email" v-model="emailAddress" :error="$v.emailAddress && $v.emailAddress.$error" v-show="isEmail">
                <div v-if="$v.emailAddress" slot="error" class="sso-text-left">
                    <span class="sso-error" v-if="!$v.emailAddress.required">Email address is required.</span>
                    <span class="sso-error" v-if="!$v.emailAddress.max">Maximum of 64 characters only.</span>
                    <span class="sso-error" v-if="!$v.emailAddress.format">Please enter a valid email address.</span> 
                </div>
            </sso-input>
            <sso-mobile-input class="sso-mb-3" :countries="countries" v-model="mobile" :selected-value="country" :error="$v.mobile && $v.mobile.$error" v-show="!isEmail">
                <div v-if="$v.mobile" slot="error" class="sso-text-left">
                    <span class="sso-error" v-if="!$v.mobile.number.required">Mobile number is required.</span>
                    <span class="sso-error" v-if="!$v.mobile.number.format || !$v.mobile.number.min || !$v.mobile.number.max">Invalid mobile number.</span>
                    <span class="sso-error" v-if="!$v.mobile.areaCode.required && $v.mobile.number.required">You must select mobile number area code.</span>
                </div>
            </sso-mobile-input>
            <sso-button type="submit" content="SUBMIT" @click="onSubmit(!$v.$invalid)" />
        </form>
    </sso-page>
</template>

<script>
import { find } from 'lodash';
import { mapState } from 'vuex';
import { required, maxLength, minLength, helpers } from 'vuelidate/lib/validators';
import { getClientIP } from '@/services/getClientIP';
import { SSO_SEND_PASSWORD_RESET } from '@/services';
import { isEmail } from '@/validators';

export default {
    mounted() {
        this.setCountry();
    },

    data: () => ({
        emailAddress: null,
        emailMobile: 'email',
        country: null,
        mobile: {},

        errorMessage: null
    }),
    
    validations() {
        if (this.isEmail) {
            return {
                emailAddress: {
                    required,
                    max: maxLength(64),
                    format: isEmail()
                }
            }
        } else {
            return {
                mobile: {
                    areaCode: {
                        required
                    },
        
                    number: {
                        required,
                        min: minLength(5),
                        max: maxLength(20),
                        format: helpers.regex('format', /^[+\d]*$/)
                    }
                },
            }
        }
    },

    computed: {
        ...mapState(['countries', 'ipCountry']),

        isEmail() {
            return this.emailMobile === 'email';
        },

        mobileNumber() {
            let aCode = this.mobile.areaCode.replace('+','');
			let mobstart = this.mobile.number.substring(aCode.length,0);

			if (aCode === mobstart )
			{
				return '+' + this.mobile.number;

            }
            
            return `${this.mobile.areaCode}${this.mobile.number}`;
        }
    },

    methods: {
        onSubmit(valid) {
            if (valid) {
                this.$loader.show()
                this.errorMessage = null;

                SSO_SEND_PASSWORD_RESET({
                    data: { 
                        emailOrMobile: this.isEmail ? this.emailAddress : this.mobileNumber
                    },
                    callback: ({ statusCode, verifToken, passwordResetToken, message }) => { 
                        if (statusCode === 203201) {
                            this.$router.push({
                                path: '/mobile-verify',
                                query: { 
                                    verifToken: verifToken,
                                    mobile: this.mobileNumber,
                                    from: '/forgot/password'
                                }
                            })
                        }

                        else if (statusCode === 203205) {
                            this.$router.push({
                                path: 'password/email-sent',
                                query: { passwordResetToken }
                            })
                        } 

                        else {
                            this.errorMessage = message;
                        }

                        this.$loader.hide();
                    }
                })
            }
        },

        setCountry() {
            this.$nextTick(() => {
                this.country = find(this.countries, (c) => {
                    return c.countryCode === this.ipCountry.iso;
                });
            });
        }
    }
}
</script>