<template>
    <sso-page title="SUCCESS" secondary-title="FORGOT PASSWORD" sub-title="You have successfully reset your password.<br>Log in with your Kapamilya Name now.">
        <router-link to="/signin" class="sso-button bg-default sso-decoration-none">LOGIN</router-link>
    </sso-page>
</template>