<template>
    <sso-page title="ACCOUNT LINKING" secondary-title="MOBILE LOGIN" sub-title="Your mobile number cannot be used for login. You can enable it by entering your account password below.">
		<form class="sso-frm-content sso-my-4" v-on:submit.prevent="$v.$touch()">
			<sso-input class="sso-mb-2" :type="pwshown ? 'text' : 'password'" name="password" label="Enter Password" v-model="password" :error="$v.password.$error">
				<i class="fas" slot="icon" @click="pwshown = !pwshown" :class="[(pwshown ? 'fa-eye' : 'fa-eye-slash')]"></i>
				<div class="sso-error" slot="error" v-if="!$v.password.required">Password is required.</div>
			</sso-input>
			<sso-button type="submit" content="CONFIRM" @click="linkAccounts(!$v.$invalid)"></sso-button>
		</form>
    </sso-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import { SSO_LINK_ACCOUNTS } from '@/services'

export default {
	data: () => ({
		password: null,
		pwshown: false,
		errorMessage: null
	}),

	validations: {
		password: {
			required
		}
	},

	computed: {
		...mapGetters(['routeQuery'])
	},

	methods: {
		linkAccounts(valid) {
			if (!valid) return;

            this.$loader.show();
            
            SSO_LINK_ACCOUNTS({
                data: {
                    password: this.password,
                    linkAccountToken: this.routeQuery.linkAccountToken
                },
                callback: ({ statusCode, data, verifToken }) => {
                    // if credentials are correct, store the session info in the browser cookie
                    if (statusCode === 203200) {
                        // sucessfully login the user
						this.$sso.successLogin({
							cookieName: data.sessionInfo.cookieName,
							cookieValue: data.sessionInfo.cookieValue
                        })
                        
                        return
                    }

                    // user email address is not verified
                    else if (statusCode === 203202) {
                        // show email verification has been sent.
                        this.$router.push({
							name: 'confirm-email-link',
							query: { verifToken }
						});
                    }

                    // show an error that the password is invalid
                    else if (statusCode === 403401) {
                        this.errorMessage = 'You have enter an incorrect password.';
                    }
                    
                    else {
                        this.errorMessage = 'Ops! Something went wrong completing your request. Kindly try again.';
                    }

                    this.$loader.hide();
                }
            })
		}
	}
};
</script>