<template>
	<sso-page title="MOBILE LOGIN" sub-title="Please enter your registered mobile number." :error-message="errorMessage">
		<form class="sso-frm-content" v-on:submit.prevent="$v.$touch()">
			<sso-mobile-input class="sso-mb-3" :countries="countries" v-model="mobile" :selected-value="country" :error="$v.mobile.$error">
				<div class="sso-error" slot="error" v-if="!$v.mobile.number.required">Mobile number is required.</div>
				<div class="sso-error" slot="error" v-if="!$v.mobile.number.format || !$v.mobile.number.min || !$v.mobile.number.max">Invalid mobile number.</div>
				<div class="sso-error" slot="error" v-if="!$v.mobile.areaCode.required && $v.mobile.number.required">You must select mobile number area code.</div>
			</sso-mobile-input>
			
			<sso-button type="submit" content="SUBMIT" @click="login($v.$invalid)"/>
		</form>
	</sso-page>
</template>

<script>
import { find } from 'lodash';
import { mapState } from 'vuex';
import { SSO_MOBILE_LOGIN } from '@/services';
import { getClientIP } from '@/services/getClientIP';
import { required, maxLength, minLength, helpers } from 'vuelidate/lib/validators'

export default {
	mounted() {
		this.setCountry();
	},

	data: () => ({
		mobile: {},
		country: null,
		errorMessage: null
	}),

	validations: {
		mobile: {
			areaCode: {
				required
			},
			number: {
				required,
				min: minLength(5),
				max: maxLength(20),
				format: helpers.regex('format', /^[+\d]*$/)
			}
		}
	},

	computed: {
		...mapState(['countries', 'ipCountry']),
		
		mobileNumber() {
			let aCode = this.mobile.areaCode.replace('+','');
			let mobstart = this.mobile.number.substring(aCode.length,0);

			if (aCode === mobstart )
			{
				return '+' + this.mobile.number;

			}

			return `${this.mobile.areaCode || ''}${this.mobile.number || ''}`;
		}
	},

	methods: {
		login(invalid) {
			if (invalid)
				return

			this.country = null;
			this.errorMessage = null;

			this.$loader.show()
			const mobileNumber = this.mobileNumber

			SSO_MOBILE_LOGIN({
				data: { mobileNumber },
				callback: ({ statusCode, verifToken, message }) => {
					if (statusCode === 203201) {
						// navigate to mobile verification page
						this.$router.push({
							name: 'mobile-verify',
							query: {
								verifToken: verifToken,
								mobile: mobileNumber,
								from: '/mobile/login'
							}
						})
					} else {
						this.errorMessage = message
					}

					this.setCountry();
					this.$loader.hide();
				}
			})
		},

		setCountry() {
			this.$nextTick(() => {
				this.country = find(this.countries, (c) => {
					return c.countryCode === this.ipCountry.iso;
				});
			});
		}
	}
};
</script>
