<template>
	<sso-page title="ALREADY HAVE AN ACCOUNT" secondary-title="ACCOUNT LINKING" :error-message="errorMessage">
		<div class="sso-link-accounts">
			<div class="sso-img-holder"><img :src="userPhoto" :alt="routeQuery.fbUserID" /><img src="//assets.abs-cbn.com/sso/images/sso-logos.png" alt="Kapammilya Accounts (Account Linking)" /></div>
			<p class="sso-link-text">Your Facebook email address is already registered with us. Enter your existing password below to link your Facebook login with your existing account.</p>
		</div>
		<form class="sso-frm-content sso-mt-4" v-on:submit.prevent="$v.$touch()">
			<sso-input class="sso-mb-2" :type="pwshown ? 'text' : 'password'" name="password" label="Enter Password" v-model="password" :error="$v.password.$error">
				<i class="fas" slot="icon" @click="pwshown = !pwshown" :class="[(pwshown ? 'fa-eye' : 'fa-eye-slash')]"></i>
				<div class="sso-error" slot="error" v-if="!$v.password.required">Password is required.</div>
			</sso-input>
			<sso-button type="submit" content="CONFIRM" @click="linkAccounts(!$v.$invalid)"></sso-button>
		</form>
	</sso-page>
</template>

<script>
import { mapActions } from 'vuex';
import { mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import { SSO_LINK_ACCOUNTS } from '../../services'

export default {
	data: () => ({
		password: null,
		pwshown: false,
		errorMessage: null
	}),

	validations: {
		password: {
			required
		}
	},

	computed: {
		...mapGetters(["routeQuery"]),

		userPhoto() {
			if (!this.routeQuery) return null;

			const id = this.routeQuery.user_id;
			return `https://graph.facebook.com/v2.5/${id}/picture?type=large`;
		}
	},

	methods: {
		...mapActions('profileCompletion', ['setProfileCompletion']),

		linkAccounts(valid) {
			if (!valid) return;

            this.$loader.show();
            
            SSO_LINK_ACCOUNTS({
                data: {
                    password: this.password,
                    linkAccountToken: this.routeQuery.linkAccountToken
                },
                callback: ({ statusCode, data, verifToken, userData, profileCompletionToken, profileCompletionType, params = {} }) => {
                    // if credentials are correct, store the session info in the browser cookie
                    if (statusCode === 203200) {
                        // sucessfully login the user
						this.$sso.successLogin({
							cookieName: data.sessionInfo.cookieName,
							cookieValue: data.sessionInfo.cookieValue
                        })
                        
                        return
                    }

                    // user email address is not verified
                    else if (statusCode === 203202) {
                        // show email verification has been sent.
                        this.$router.push({
							name: 'confirm-email-link',
							query: { verifToken }
						});
                    }

                    // show an error that the password is invalid
                    else if (statusCode === 403401) {
                        this.errorMessage = 'You have enter an incorrect password.';
					}
					
					// if user account is in pending profile completion
					else if (statusCode === 203208) {
						this.setProfileCompletion(Object.assign({ facebook: params }, userData, )).then(() => {

							this.$router.push({
								path: `/profile-completion/${profileCompletionType || ''}`,
								query: {
									profileCompletionToken,
									from: '/signin'
								}
							})
						});

						return;
					}
                    
                    else {
                        this.errorMessage = 'Ops! Something went wrong completing your request. Kindly try again.';
                    }

                    this.$loader.hide();
                }
            })
		}
	}
};
</script>

<style lang="scss">
@import "../../assets/css/mixins.scss";
@include sso-page-title {
	.sso-subTitle-override {
		&.sso-thankyou {
			font-size: 1em;
			margin-top: 5px;
			padding-bottom: 4px;
		}
	}
}

@include sso-page-content {
	.sso-link-accounts {
		.sso-img-holder {
			display: inline-block;
			:first-child {
				margin-right: -7px;
				border: 3.5px solid #e2e2e2;
			}

			:last-child {
				margin-left: -7px;
			}

			img {
				width: 80px;
				height: 80px;
				border-radius: 50%;
				box-sizing: border-box;
			}
		}

		.sso-link-text {
			font-size: 0.88em;
			color: #cccccc;
		}
	}
}
</style>
