<template>
    <sso-page title="YOUR EMAIL ADDRESS IS REQUIRED" secondary-title="SIGN UP WITH FACEBOOK" sub-title="You have declined your Facebook email address. Click the button below to review your granted permissions.">
        <sso-button type="button" theme="fb-login" @click="loginWithFacebook">
            <i class="fab fa-facebook-f sso-mr-1"></i>
            <span>REVIEW GRANTED PERMISSIONS</span>
        </sso-button>
    </sso-page>
</template>

<script>
import { mapActions } from 'vuex';
import { SSO_SOCIAL_LOGIN } from '@/services'
import { FacebookLogin, FB_STATUS } from '@/services/fbLogin'

export default {
    methods: {
		...mapActions('profileCompletion', ['setProfileCompletion']),

        loginWithFacebook() {
			this.$loader.show();

			// login with facebook
			FacebookLogin(({ status, access_token, user_id, fn, ln }) => {

				// user registered in facebook using email address or mobile number
				if (status === FB_STATUS.EMAIL || status === FB_STATUS.MOBILE) {
					SSO_SOCIAL_LOGIN({
						data: { accessToken: access_token },
						callback: (result) => {
							this.processLoginResponse(result, { 
								user_id, fn, ln 
							})
						}
					})
				}

				// user has declined his/her email address
				// or failed loging in with facebook
				else {
					this.$loader.hide()
				}
			}, { auth_type: 'rerequest' });
        },
        
        processLoginResponse(result, params = {}) {
			const statusCode = result.statusCode

			// if credentials are correct,
			// store the session info in the browser cookie
			if (statusCode === 203200) {
				const data = result.data;

				// sucessfully login the user
				this.$sso.successLogin({
					cookieName: data.sessionInfo.cookieName,
					cookieValue: data.sessionInfo.cookieValue
				})

				return
			}

			// user email address is not verified
			else if (statusCode === 203202) {
				// navigate to email verification has been sent.
				this.$router.push({
					name: 'confirm-email-link',
					query: { verifToken: result.verifToken }
				});
			}

			// if user account is in pending profile completion
			else if (statusCode === 203208) {
				this.setProfileCompletion({ facebook: params }).then(() => {
					const profileCompletionToken = result.profileCompletionToken
					const profileCompletionType = result.profileCompletionType || ''
	
					this.$router.push({
						path: `/profile-completion/${profileCompletionType}`,
						query: {
							profileCompletionToken,
							from: '/signup'
						}
					})
				});
			}

			// if user account email address needs an account linking.
			else if (statusCode === 203209) {
				this.$router.replace({
					name: 'social-account-linking',
					query: Object.assign({}, result, {
						user_id: params.user_id,
						from: '/signin'
					})
				});
			}

			// fb email address was declined by the user
			else if (statusCode === 403413) {
				this.$router.replace({ name: 'social-email-declined' });
			}

			else {
				alert("Ops! Something went wrong processing your request.");
			}

			this.$loader.hide()
		}
    }
}
</script>