<!DOCTYPE html>
<html lang="en">
	<head>
		<title>KAPAMILYA ACCOUNTS</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;">
		<meta name="description" content="ABS-CBN Kapamilya Accounts, a user logs in with a single ID and password to gain access to different ABS-CBN websites digital property without using different usernames or passwords.">
		<meta name="author" content="ABS-CBN Corp.">
		<meta name="keywords" content="Single Sign On" />
		<meta name="rights" content="All rights reserved by ABS-CBN Corporation" />
		
		<!-- START: OPEN GRAPH -->
		<meta name="og:title" content="ABS-CBN Kapamilya Accounts">
		<meta name="og:type" content="website">
		<meta name="og:image" content="/img/default-avatar.png">
		<meta name="og:url" content="https://kapamilya-accounts.abs-cbn.com">
		<meta name="og:site_name" content="Kapamilya Accounts">
		<meta name="og:description" content="ABS-CBN Kapamilya Accounts, a user logs in with a single ID and password to gain access to different ABS-CBN websites digital property without using different usernames or passwords." />
		<!-- END: OPEN GRAPH -->
		
		<!-- START: MOBILE VIEWPORT -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- END: MOBILE VIEWPORT -->
		<!-- END: META -->
		
		<!-- START: BOOKMARK ICONS -->
		<!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
		<link rel="icon" href="favicon.png">
		<link rel="apple-touch-icon" href="/img/apple-icon.png">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
		<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Google Tag Manager -->
		<script>
		    (function (w, d, s, l, i) {
		        w[l] = w[l] || []; w[l].push({
		            'gtm.start':
		            new Date().getTime(), event: 'gtm.js'
		        }); var f = d.getElementsByTagName(s)[0],
		        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
		        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		    })(window, document,'script','dataLayer','GTM-SSO');
		</script> 

		<script>
			(function(w,d,s,l,i){
				w[l]=w[l]||[];w[l].push({
					'gtm.start':
					new Date().getTime(),event:'gtm.js'
				}); var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s), dl=l!='dataLayer' ? '&l=' + l : '' ; j.async = true; j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WBJ5ZX');
		</script>
		<!-- End Google Tag Manager --> 

		<!--Raygun Script-->
		<script type="text/javascript">
		    !function(a,b,c,d,e,f,g,h){a.RaygunObject=e,a[e]=a[e]||function(){
		    (a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
		    f.async=1,f.src=d,g.parentNode.insertBefore(f,g),h=a.onerror,a.onerror=function(b,c,d,f,g){
		    h&&h(b,c,d,f,g),g||(g=new Error(b)),a[e].q=a[e].q||[],a[e].q.push({
		    e:g})}}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");

		    rg4js('apiKey', 'fwIGs35F/MIDZ06TGsgHsA==');
		  	rg4js('enableCrashReporting', true);
		  	rg4js('enablePulse', true);
		</script>
		<!--End Raygun Script-->
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-SSO"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		 
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WBJ5ZX"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<noscript>
			<strong>We're sorry but kapamilya-accounts doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
		</noscript>
		
		<sso-accounts view="fullscreen" verif-type="link" api-key="ff3ea0da90484e649600b17c716e05ed"></sso-accounts>

		<!-- <script type="text/javascript">
			function ssoLoaded() {
				SSO.addListener("onLogin", function(e) { 
					console.log("onLogin", e); 
				});

				SSO.addListener("onLogout", function(e) { 
					console.log("onLogout", e); 
				})

				SSO.addListener("onGetUserInfo", function(e) { 
					console.log("onGetUserInfo", e); 
				})
			};
		</script> -->
		
		<!-- <div id="app"></div> -->
		<!-- built files will be auto injected -->
	</body>
</html>
