<template>
    <sso-page 
        title="CHECK YOUR INBOX" 
        secondary-title="FORGOT KAPAMILYA NAME" 
        sub-title="We have sent an email to your registered </br> email address. Click the link to retrieve </br> your Kapamilya Name.">
        <button type="button" class="sso-link decoration-none" @click="resend">
            <i class="fas fa-envelope"></i> Resend Kapamilya Name
        </button>
    </sso-page>
</template>

<script>
import { SSO_FORGOT_KAPAMILYANAME } from '../../../services';

export default {
    methods: {
        resend() {
            this.$loader.show()

            SSO_FORGOT_KAPAMILYANAME({
                data: {
                    emailOrMobile: this.$route.query.email
                },
                callback: () => {
                    this.$loader.hide()
                }
            })
        }
    }
}
</script>