<template>
    <sso-page 
        title="CHECK YOUR MESSAGES" 
        secondary-title="FORGOT KAPAMILYA NAME" 
        sub-title="We have texted your Kapamilya Name to your registered mobile number.">
        <button type="button" class="sso-link decoration-none" @click="resend">
            <i class="fas fa-envelope"></i> Resend Kapamilya Name
        </button>
    </sso-page>
</template>

<script>
import { SSO_FORGOT_KAPAMILYANAME, SSO_VERIFY_CODE } from '../../../services';

export default {
    methods: {
        resend(valid) {
            if (valid) {
                this.$loader.show()

                SSO_FORGOT_KAPAMILYANAME({
                    data: {
                        sendForgotNotification: false,
                        emailOrMobile: this.$route.query.mobile
                    },
                    callback: ({ statusCode, verifToken, code }) => {
                        if (statusCode === 203201) {
                            SSO_VERIFY_CODE({
                                data: { code, verifToken },
                                callback: () => {
                                    this.$loader.hide()
                                }
                            })
                        }
                        else {
                            this.$loader.hide()
                        }
                    }
                })
            }
        }
    }
}
</script>