<template>
    <sso-page title="SIGN UP" sub-title="Select any of the following to create a Kapamilya Account:">
        <div class="sso-signup-options">
            <sso-button type="button" theme="fb-login" class="sso-mb-3" @click="loginWithFacebook">
                <i class="fab fa-facebook-f sso-mr-1"></i>
                <span>SIGN UP WITH FACEBOOK</span>
            </sso-button>

            <sso-button type="button" class="sso-mb-3" @click="signupWith('signup-email')">
                <i class="far fa-envelope sso-mr-1"></i>
                <span>SIGN UP WITH EMAIL</span>
            </sso-button>

            <sso-button type="button" class="sso-mb-3" @click="signupWith('signup-mobile')">
                <i class="fas fa-mobile-alt sso-mr-1"></i>
                <span>SIGN UP WITH MOBILE</span>
            </sso-button>
        </div>
    </sso-page>
</template>

<script>
import { mapActions } from 'vuex';
import { SSO_SOCIAL_LOGIN } from '@/services';
import { FacebookLogin, FB_STATUS } from '@/services/fbLogin';

export default {
    methods: {
		...mapActions('profileCompletion', ['setProfileCompletion']),

        signupWith(name) {
            this.$router.push({ name: name });
        },

        loginWithFacebook() {
			this.$loader.show();

			// login with facebook
			FacebookLogin(({ status, access_token, user_id, fn, ln }) => {

				// user registered in facebook using email address or mobile number
				if (status === FB_STATUS.EMAIL || status === FB_STATUS.MOBILE) {
					SSO_SOCIAL_LOGIN({
						data: { accessToken: access_token },
						callback: (result) => this.processLoginResponse(result, { 
							user_id, fn, ln 
						})
					})
				}

				// user has declined his/her email address
				else if (status === FB_STATUS.DECLINED_PERMISSION) {
					this.$router.push({ name: 'social-email-declined' });
				}

				// failed loging in with facebook
				else {
					this.$loader.hide()
				}
			});
		},

		processLoginResponse(result, params = {}) {
			const statusCode = result.statusCode

			// if credentials are correct,
			// store the session info in the browser cookie
			if (statusCode === 203200) {
				const data = result.data;

				// sucessfully login the user
				this.$sso.successLogin({
					cookieName: data.sessionInfo.cookieName,
					cookieValue: data.sessionInfo.cookieValue
				});

				return
			}

			// user email address is not verified
			else if (statusCode === 203202) {
				// navigate to email verification has been sent.
				this.$router.push({
					name: 'confirm-email-link',
					query: { verifToken: result.verifToken }
				});
			}

			// if user account is in pending profile completion
			else if (statusCode === 203208) {
				this.setProfileCompletion({ facebook: params }).then(() => {
					const profileCompletionToken = result.profileCompletionToken
					const profileCompletionType = result.profileCompletionType || ''
	
					this.$router.push({
						path: `/profile-completion/${profileCompletionType}`,
						query: {
							profileCompletionToken,
							from: '/signup'
						}
					})
				});

				return;
			}

			// if user account email address needs an account linking.
			else if (statusCode === 203209) {
				this.$router.push({
					name: 'social-account-linking',
					query: Object.assign({}, result, {
						user_id: params.user_id,
						from: '/signin'
					})
				});
			}

			// fb email address was declined by the user
			else if (statusCode === 403413) {
				this.$router.push({ name: 'social-email-declined' });
			}

			this.$loader.hide()
		}
    }
}
</script>

<style lang="scss">
@import "@/assets/css/mixins.scss";
@include sso-page-title {
	.sso-subTitle {
        font-weight: 500;
        font-size: 13px;
        color: #d6d6d6;
	}
}

@include sso-page-content {
	.sso-signup-options {
        .sso-button {
			padding: 1.1em 0;
            
            i {
                font-size: 16px;
            }
        }
	}
}
</style>
