#sso-account {
	text-align: center;

	.sso-dimmer {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: #00000069;
		z-index: 999998;
	}

	.sso-main {
		&.fullscreen {
			max-width: 100%;
		}

		.sso-nav {
			display: flex;
			justify-content: space-between;

			.sso-nav-icon {
				cursor: pointer;
				font-size: 16px;
				padding: 8px 0;
				opacity: 0.7;

				&:hover {
					opacity: 1;
				}

				&.sso-back {
					padding-left: 1.2em;
					padding-right: 2em;
				}

				&.sso-close {
					padding-right: 1.2em;
					padding-left: 2em;
				}
			}
		}

		.sso-error-wrapper {
			width: 100%;
			position: relative;
			max-width: 360px;
			margin: 0 auto;

			.sso-error {
				p {
					margin: 0;
					font-size: 14px;
					color: #f27777;

					.sso-errMsg {
						font-weight: 600;
						margin-bottom: 8px;
						text-transform: uppercase;
					}

					.sso-errDtl {
						color: #d6d6d6;
						line-height: 1.6;
						font-size: 0.87em;
					}
				}
			}
		}
	}
}