 div#sso-page.email-sent {
 	.sso-title-container {
		.sso-info {
			font-size: 12px;
		    line-height: 1.5;
		    font-weight: 100;
		    max-width: 300px;
		    margin: 0 auto;
		}

		.sso-sub-info {
			font-size: 11px;
		    color: #898989;
		    line-height: 1.4;
		    margin-top: 15px;

		    .overide-font-size {
		    	font-size: 11px;
    			color: #959595;
		    }
		}
 	}
}