@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import "./theme/dark";
@import "./theme/light";
@import "mediaquery";
@import "utilities";
@import "email-sent";
@import "app";

#sso-account {
    font-family: 'Montserrat', sans-serif !important;

    #sso-main {
        display: flex;
        flex-direction: column;
    }
    
    .sso-main {
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        font-size: 14px;
        z-index: 999999;
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        border-left: 1px solid #474747bf;
        box-shadow: 0px 0px 9px 1px #474747bf;
        -ms-box-shadow: 0px 0px 9px 1px #474747bf;
        -webkit-box-shadow: 0px 0px 9px 1px #474747bf;
        -moz-box-shadow: 0px 0px 9px 1px #474747bf;

        @media (max-width: 576px) { 
            max-width: 100%;
        }

        &.sso-fullscreen {
            max-width: 100%;
        }

        &.sso-slidepanel {
            max-width: 360px;
        }

        .sso-header {
            letter-spacing: 1px;
            margin-bottom: 16px;
            flex-wrap: wrap;
    
            h1 {
                cursor: pointer;
                font-size: 18px;
                margin: 10px 0 0;
                font-weight: 500;
                min-height: 30px;
    
                img {
                    top: 6px;
                    margin: 0 5px;
                    position: relative;
                }
            }
        }

        .sso-nav {
            display: flex;
            justify-content: space-between;
    
            .sso-nav-icon {
                cursor: pointer;
                font-size: 16px;
                padding: 8px 0;
                opacity: 0.7;
        
                &:hover {
                    opacity: 1;
                }
        
                &.sso-back {
                    padding-left: 1.2em;
                    padding-right: 2em;
                }
        
                &.sso-close {
                    padding-right: 1.2em;
                    padding-left: 2em;
                }
            }
        }
        
        .sso-container {
            flex-grow: 2;
            position: relative;

            .sso-link {
                font-size: 12px;
                font-weight: 500;
                color: #529ffc;
                outline: none;
                background: none;
                cursor: pointer;
                border: 0;
    
                &.decoration-none {
                    text-decoration: none;
                }

                &.decoration-hover {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            #sso-page {
                .sso-content {
                    .sso-error-summary {
                        color: #ed145b;
                        font-weight: 600;
                        font-size: 0.84em;
                        margin-bottom: 10px;
                    }

                    .sso-error-container {
                        z-index: -1;
                        position: relative;
                
                        .sso-error {
                            margin-top: 4px;
                            color: #ed145b;
                            font-weight: 600;
                            text-align: left;
                            font-size: 0.82em;
                            font-family: inherit;
                        }
                    }

                    .sso-form-control {
                        width: 100%;
                        user-select: none;
                        position: relative;
                        box-sizing: border-box;

                        &.sso-has-error {
                            .sso-floating-label {
                                color: #ed145b;
                                font-weight: 500;
                            }
                    
                            .sso-input-wrapper {
                                border-bottom-color: #ed145b !important;
                                
                                .sso-input {
                                    color: #ed145b;
                                }
                            }

                            .sso-mobile-input {
                                border-color: #ed145b;
                            }
                        }
                        
                        .sso-input-icons {
                            top: 6px;
                            z-index: 1;
                            right: 9px;
                            position: absolute;
                            cursor: pointer;
                        }
                                            
                        .sso-input-group {
                            position: relative;
                    
                            .sso-floating-label {
                                top: 6px;
                                left: 0px;
                                width: 100%;
                                height: 20px;
                                font-size: 13px;
                                text-align: left;
                                line-height: 1.1;
                                position: absolute;
                                pointer-events: none;
                                font-family: inherit;
                                display: inline-block;
                                transition: 0.2s ease all;
                                z-index: 0;
                        
                                &.has-error {
                                    color: #ed145b;
                                    font-weight: 400;
                                }
                            }
                            
                            .sso-input-wrapper {
                                display: flex;
                                flex-wrap: wrap;
                                flex-basis: 100%;

                                .sso-input {
                                    flex-grow: 1;
                                    width: 50%;
                                }

                                .sso-icon {
                                    width: 30px;
                                }

                                input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
                                    -webkit-box-shadow: 0 0 0 30px #111 inset !important;
                                    -webkit-text-fill-color: #fff !important;
                                }
                            }

                            .sso-input {
                                height: 30px;
                                outline: none;
                                border-radius: 0;
                                letter-spacing: 1px;
                                font-family: inherit;
                                box-sizing: border-box;
                                border: 0 none transparent;
                            }
                    
                            .active-input {
                                left: 0px;
                                top: -15px;
                                bottom: 10px;
                                font-size: 12px;
                                opacity: 1;
                            }

                            .sso-input:disabled {
                                opacity: 0.5;
                                cursor: not-allowed;
                            }

                            .sso-password-detection {
                                display: none;
                                height: 3px;
                                margin-top: 3px;
                                background-color: #ebebeb;
                                position: relative;

                                &:after {
                                    position: absolute;
                                    top: -3px;
                                    left: 0;
                                    content: '';
                                    height: 3px;
                                    margin-top: 3px;
                                }

                                &.sso-weak-password {
                                    display: block;

                                    &:after {
                                        width: 96px;
                                        background-color: #ff487a;
                                    }
                                }

                                &.sso-medium-password {
                                    display: block;
                                    &:after {
                                        width: 192px;
                                        background-color: #ff9900;
                                        
                                    }
                                }

                                &.sso-strong-password {
                                    display: block;
                                    &:after {
                                        width: 290px;
                                        background-color: #2fb545;
                                    }
                                }
                            }
                        }

                        .sso-field-info {
                            width: 100%;
                            font-size: 11px;
                            text-align: left;
                        }
                        
                        $radio-border-width: 4px;
                        $radio-accent-color: #5aa0ea;
                        $radio-selected-color: #5aa0ea;
                        $radio-primary-color: #e3e3e3;

                        .sso-radio {
                            text-align: center;

                            .sso-radio-input {
                                position: relative;
                                display: inline-block;
                                text-align: left;
                                min-width: 120px;

                                &:hover > .sso-label {
                                    cursor: pointer;
                                    color: $radio-accent-color;

                                    &:before {
                                        border: $radio-border-width solid $radio-accent-color;
                                    }
                                }

                                .sso-radion-button {
                                    opacity: 0;
                                    cursor: pointer;
                                    visibility: hidden;
                                    position: absolute;

                                    &:checked + .sso-label {
                                        color: $radio-selected-color;
                                        font-weight: 600;
                                        
                                        &::before {
                                            border: $radio-border-width solid $radio-accent-color;
                                            box-shadow: 0 0 8px 2px $radio-accent-color;
                                            background: $radio-primary-color;
                                        }
                                    }
                                }

                                .sso-label {
                                    cursor: pointer;
                                    font-size: 12px;
                                    text-transform: uppercase;
                                    color: $radio-primary-color;
                                    transition: all 0.25s linear;
                                }

                                .sso-label:before {
                                    top: 4px;
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    position: relative;
                                    margin-right: 10px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    transition: all 0.25s linear;
                                    border: $radio-border-width solid $radio-primary-color;
                                }
                            }
                        }
                    }

                    .sso-countries {
                        $flagWidth: 24px;
                        $flagHeight: 17px;
                        $flagsCount: 248;

                        .cflags {
                            display: inline-block;
                            vertical-align: middle;
                            background-size: 26px auto;
                            background-repeat: no-repeat;
                            background-image: url("//assets.abs-cbn.com/thankyou/2.0.1/images/placeholders/flags/img-flags.png");
                        }

                        .cflag-text {
                            vertical-align: middle;
                        }

                        .dropdown-toggle {
                            .vs__selected-options {
                                .cflags {
                                    margin-right: 8px;
                                    width: $flagWidth - 3;
                                    height: $flagHeight - 3;
                                }

                                .cflag-text {
                                    font-size: 0.97em;
                                }
                            }
                            .vs__actions {
                                .clear {
                                    display: none;
                                }
                            }
                        }

                        .dropdown-menu {
                            li[role="option"] {
                                a {
                                    padding-left: 10px;
                                    padding-right: 0;
                                }

                                .cflags {
                                    width: $flagWidth;
                                    height: $flagHeight;
                                    margin-right: 14px;
                                }
                            }
                        }
                    }

                    .sso-form-name {
                        width: 100%;

                        .sso-form-control {
                            vertical-align: top;

                            .sso-input {
                                padding-right: 0;
                            }
                        }
                    }
                    
                    .sso-username-suggestions {
                        display: block;
                        font-size: 0.8em;

                        .sso-uns {
                            cursor: pointer;
                            padding-top: 4px;
                            margin-right: 7px;
                            display: inline-block;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        > a {
                            padding-bottom: 3px;
                        }
                    }

                    .sso-signup-checkboxes {
                        .sso-checkbox {
                            label {
                                font-size: 12px;

                                p {
                                    margin: 0;
                                    line-height: 19px;

                                    a {
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .sso-resend {
                        font-size: 0.8em;
                        line-height: 1.7;

                        a {
                            display: block;
                        }
                    }

                    .sso-button {
                        &.bg-fb-login {
                            color: #fff;
                            font-weight: 500;
                            background-color: #4469af;
                            border: 1px solid #4469af;
    
                            i {
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        }
	
        .sso-page-footer {
            @media screen\0 { 
                margin-top: 7em;
            }

            .sso-footer-content {
                max-width: 350px;
                margin: 0 auto;

                .sso-links-container {
                    display: flex;
    
                    a {
                        flex-grow: 1;
                        color: #fff;
                        padding: 15px 0;
                        font-weight: 500;
                        font-size: 0.8em;
                        text-decoration: none;
                    }
                }
    
                p {
                    font-size: 12px;
                }
            }

        }
        
        .sso-error-wrapper {
            width: 100%;
            position: relative;
    
            .sso-error {
                p {
                    margin: 0;
                    font-size: 14px;
                    color: #f27777;
        
                    .sso-errMsg {
                        font-weight: 600;
                        margin-bottom: 8px;
                        text-transform: uppercase;
                    }
        
                    .sso-errDtl {
                        color: #d6d6d6;
                        line-height: 1.6;
                        font-size: 0.87em;
                    }
                }
            }
        }
    }
}
