@media only screen and (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    div#sso {
        main#sso-main {
            max-width: 100%;
        }
    }
}
@media only screen and (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    div#sso {
        main#sso-main {
            max-width: 360px;
        }
    }
}