@mixin sso-page-content {
  #sso-account {
    .sso-main > .sso-container {
      #sso-page {
        .sso-content {
          position: relative;
          text-transform: none;
          
          @content;
        }
      }
    }
  }
}

@mixin sso-bg-light {
  #sso-account {
    .sso-main {
      &.sso-bg-light {
        @content;
      }
    }
  }
}

@mixin sso-bg-dark {
  #sso-account {
    .sso-main {
      &.sso-bg-dark {
        @content;
      }
    }
  }
}

@mixin sso-page-title {
  #sso-account {
    .sso-main > .sso-container {
      #sso-page {
        .sso-title-container {
          @content;
        }
      }
    }
  }
}

//Positioning
@mixin centered-horizontal() {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}