
$spacer: 0.65;
$spaceCount: 5; 
$spaceUnit: 'em';

#sso-account {
    // margin
    @for $i from 0 through $spaceCount {
        .sso-m-#{$i} { 
            margin: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }
    
    // margin-top
    @for $i from 0 through $spaceCount {
        .sso-mt-#{$i} { 
            margin-top: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }
    
    // margin-bottom
    @for $i from 0 through $spaceCount {
        .sso-mb-#{$i} {     
            margin-bottom: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }
    
    // margin-left
    @for $i from 0 through $spaceCount {
        .sso-ml-#{$i} { 
            margin-left: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }
    
    // margin-right
    @for $i from 0 through $spaceCount {
        .sso-mr-#{$i} { 
            margin-right: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }

    // margin-top, margin-bottom
    @for $i from 0 through $spaceCount {
        .sso-my-#{$i} { 
            margin-top: ($i * $spacer) + unquote($spaceUnit) !important;
            margin-bottom: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }

    // margin-right, margin-left
    @for $i from 0 through $spaceCount {
        .sso-mx-#{$i} { 
            margin-right: ($i * $spacer) + unquote($spaceUnit) !important;
            margin-left: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }

    // -------------------------------------------------------------------------

    
    // padding
    @for $i from 0 through $spaceCount {
        .sso-p-#{$i} { 
            padding: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }
    
    // padding-top
    @for $i from 0 through $spaceCount {
        .sso-pt-#{$i} { 
            padding-top: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }
    
    // padding-bottom
    @for $i from 0 through $spaceCount {
        .sso-pb-#{$i} {     
            padding-bottom: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }
    
    // padding-left
    @for $i from 0 through $spaceCount {
        .sso-pl-#{$i} { 
            padding-left: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }
    
    // padding-right
    @for $i from 0 through $spaceCount {
        .sso-pr-#{$i} { 
            padding-right: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }

    // padding-top, margin-bottom
    @for $i from 0 through $spaceCount {
        .sso-py-#{$i} { 
            padding-top: ($i * $spacer) + unquote($spaceUnit) !important;
            padding-bottom: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }

    // padding-right, padding-left
    @for $i from 0 through $spaceCount {
        .sso-px-#{$i} { 
            padding-right: ($i * $spacer) + unquote($spaceUnit) !important;
            padding-left: ($i * $spacer) + unquote($spaceUnit) !important;
        }
    }

    .sso-d-block {
        display: block !important;
    }

    .sso-d-none {
        display: none !important;
    }

    .sso-d-inline {
        display: inline !important;
    }
    
    .sso-d-inline-block {
        display: inline-block !important;
    }
    
    .sso-d-flex {
        display: flex;
    }

    .sso-text-left {
        text-align: left !important;
    }

    .sso-text-center {
        text-align: center !important;
    }

    .sso-text-right{
        text-align: right !important;
    }

    .sso-fontweight-bold {
        font-weight: bold;
    }

    .sso-w-100 {
        width: 100% !important;
    }

    .sso-w-50 {
        width: 50% !important;
    }

    .sso-w-25 {
        width: 25% !important;
        min-width: 0 !important;
    }

    .sso-lh-2 {
        line-height: 2;
    }

    .vc-text-gray-800 {
        // color: #fff; 
        background: transparent;
        border: none;
    }

    .sso-decoration-none {
        text-decoration: none;
    }

    .sso-clearfix { 
        display: inline-block;

        &::after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
    }
}