<template>
    <sso-page 
        title="EMAIL CONFIRMATION" 
        sub-title="Congratulations! <br/>
         Your email has been verified now.">
        <sso-button type="button" class="sso-mb-1" @click="continueToSite">CONTINUE</sso-button>
    </sso-page>
</template>

<script>
export default {
	data: () => ({
	
    }),
    
	methods: {
		continueToSite() {
			window.location = "/profile"
		}
	}
};
</script>