<template>
	<sso-page title="THANK YOU" secondary-title="SIGN UP WITH EMAIL" :sub-title="subTitle">
		<a class="sso-link decoration-none" href="javascript:void(0)" @click="resend">
            <i class="fas fa-envelope"></i> Resend Verification
		</a>
	</sso-page>
</template>

<script>
import { SSO_RESEND_EMAIL } from "../../services";
export default {
	data: () => ({
		subTitle: `
			We have sent you an email to verify your nominated email address. 
			Click the link in the email within 24 hours to complete your registration.`
	}),

	methods: {
		resend() {
			// show loader
			this.$loader.show();

			// call sso.resendEmail API
			SSO_RESEND_EMAIL({
				data: this.$route.query,
				callback: ({ statusCode, verifToken }) => {
					// hide loader
					this.$loader.hide();

					if (statusCode === 203202) {
						this.$router.replace({
							query: { verifToken },
							name: "confirm-email-link"
						});
					}
				}
			});
		}
	}
};
</script>
