<template>
    <sso-page :loading="true" loading-delay="none"/>
</template>

<script>
import { SSO_VERIFY_EMAIL } from '../../services'
export default {
    mounted() {
        this.verifyAccount()
    },

    methods: {
        verifyAccount() {
            // call sso.verifyEmail API
            SSO_VERIFY_EMAIL({
                data: { 
                    token: this.$route.query.code
                },
                callback: ({ statusCode, data }) => {

                    if (statusCode === 203200) {
                        // sucessfully login the user
                        this.$sso.successLogin({
                            cookieName: data.sessionInfo.cookieName,
                            cookieValue: data.sessionInfo.cookieValue,
                            params: {
                                path: '/thank-you'
                            }
                        });

                        return;
                    }

                    else if (statusCode === 403408) {
                        // Expired verification link
                        this.$router.replace({
							query: { data },
                            path: `/resend-verification/email?code=${this.$route.query.code}`,
                        });
                        return;
                    }

                    this.$loader.hide()
                }
            })
        }
    }
}
</script>
