<template>
    <sso-page 
        :title="title" 
        :secondary-title="secondaryTitle" 
        :sub-title="subTitle">

        <button type="button" class="sso-link decoration-none" @click="resend" v-if="showResendButton">
            <i class="fas fa-envelope"></i> Send Verification
        </button>
<!-- 
        <p slot="custom-title" class="sso-px-2 sso-message">
            Verification sent!
        </p> -->
        
    </sso-page>
</template>

<script>
import { SSO_RESEND_EMAIL } from "../../services";
export default {
	data: () => ({
        showResendButton: true,
        title: `EMAIL VERIFICATION HAS BEEN EXPIRED!`,
        secondaryTitle : `EMAIL VERIFICATION`,
		subTitle: `Click the link below to send you an email verification.`
	}),

	methods: {
		resend() {
			// show loader
			this.$loader.show();

			// call sso.resendEmail API
			SSO_RESEND_EMAIL({
                data : {
                    verifToken: this.$route.query.code,
                },
				callback: ({ statusCode }) => {
					// hide loader
					this.$loader.hide();

					if (statusCode === 203202) {
                        this.$router.push({
                            name : 'confirm-email-link',
                            query : {
                                verifToken : this.$route.query.code
                            },
                        });
                        return;
					}
				}
			});
		}
	}
}; 
</script>

<style lang="scss">
@import '../../assets/css/mixins.scss';
@include sso-page-title {
    .sso-message {
        font-size: 11px;
        color: #898989;
        line-height: 1.4;
        margin-top: 15px;
    }
}

</style>
