@import "../mixins";

$bgColor: #111;

@include sso-bg-dark {
	color: #fff;
	background-color: $bgColor;

	@media (min-width: 576px) { 
		&::-webkit-scrollbar {
			background-color: #000000;
			width: 11px;
		}

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px #3c3c3c;
			background-color: #3c3c3c;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #ffffff67;
			border: 3px solid #3c3c3c;
		}
	}

	.sso-title-container {
		.sso-title {
			font-weight: 500;
		}

		.sso-subTitle {
			color: #c3c3c3;
			font-weight: 300;
		}
		
		.sso-subTitle-override {
			color: #dfdfdf;
			
			.sso-thankyou {
				font-weight: 600;
				color: #fff;
			}
		}
	}

	.sso-input-group {
		.sso-floating-label {
			font-weight: 400;
			color: #f3f3f3;
			background-color: $bgColor;
			z-index: 6;

			&.active-input {
				font-weight: 300;
			}
		}

		.sso-input-wrapper {
			border-bottom-width: 1px !important;
			border-bottom-style: solid !important;
			border-bottom-color: #a7a7a7 !important;

			.sso-input {
				color: #e4e4e4;
				background-color: $bgColor;
			}
		}

		.sso-select {
			.dropdown-toggle {
				background-color: $bgColor;
				border-bottom-width: 1px !important;
				border-bottom-style: solid !important;
				border-bottom-color: #a7a7a7 !important;
				
				.vs__selected-options .cflags {
					box-shadow: 0px 0px 5px 0px #ffffffb7;
				}
			}

			.dropdown-menu {
				overflow-y: auto;
				background-color: #353535;

				li {
					> a {
						color: #fff !important;
					}
				}
				
				&::-webkit-scrollbar {
					background-color: #000000;
					width: 11px;
				}

				&::-webkit-scrollbar-track {
					-webkit-box-shadow: inset 0 0 6px #3c3c3c;
					background-color: #3c3c3c;
				}

				&::-webkit-scrollbar-thumb {
							background-color: #ffffff67;
							border: 3px solid #3c3c3c;
				}
			}
		}
		
		.sso-field-info {
			color: #b6b6b6;
		}
	}

	.sso-signup-checkboxes {
		.sso-checkbox {
			label {
				color: rgb(219, 219, 219);
			}
		}
	}
	
	.sso-username-suggestions {
		font-weight: 300;
		color: #e4e4e4;
	}

	.sso-button {
		&.bg-default {
			color: #fff;
			background-color: #363636;
			border: 1px solid #363636;
		}
	}

	.sso-home-title {
		p {
			color: #e2e2e2;
		}
	}

	.sso-thankyou-points {
		.sso-points {
			color: #f7941d;
			font-weight: 300;
		}

		p {
			color: #c3c3c3;
			font-weight: 300;
		}
	}
}