@import "../mixins";

$bgColor: #fff;

@include sso-bg-light {
	color: #111;
	background-color: $bgColor;

	@media (min-width: 576px) { 
		&::-webkit-scrollbar {
				background-color: #ececec;
				width: 11px;
		}

		&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px #ececec;
				background-color: #ececec;
		}

		&::-webkit-scrollbar-thumb {
				background-color: #8f8f8f;
				border: 3px solid #ececec;
		}
	}

	.sso-title-container {
		.sso-title {
			font-weight: 600 !important;
		}

		.sso-subTitle {
			color: #5c5c5c;
			font-weight: 500;
		}

		.sso-subTitle-override {
			color: #252525;
			
			.sso-thankyou {
				font-weight: 600;
				color: #111111;
			}
		}
	}

	.sso-form-control {
		.sso-input-group {
			.sso-floating-label {
				color: #272727;
				font-weight: 500;
				z-index: 6;
	
				&.active-input {
					font-weight: 400;
				}
			}
			
			.sso-input-wrapper {
				border-bottom-width: 1px !important;
				border-bottom-style: solid !important;
				border-bottom-color: #b8b8b8 !important;

				.sso-input {
					color: #1f1e1e;
					font-weight: 600;
					background-color: $bgColor;
				}
			}
			
			.sso-select {
				.dropdown-toggle {
					background-color: $bgColor !important;
					border-bottom-width: 1px !important;
					border-bottom-style: solid !important;
					border-bottom-color: #b8b8b8 !important;
	
					.vs__selected-options .cflags {
						box-shadow: 0px 0px 5px 0px #23232378;
					}
				}
	
				.dropdown-menu {
					overflow-y: auto;
					background-color: $bgColor;
	
					li {
						> a {
							color: #161616 !important;
							font-weight: 400 !important;
						}
					}
					
					@media (min-width: 576px) { 
						&::-webkit-scrollbar {
								background-color: #ececec;
								width: 11px;
						}
	
						&::-webkit-scrollbar-track {
								-webkit-box-shadow: inset 0 0 6px #ececec;
								background-color: #ececec;
						}
	
						&::-webkit-scrollbar-thumb {
								background-color: #8f8f8f;
								border: 3px solid #ececec;
						}
					}
				}
			}
			
			.sso-field-info {
				color: #000 !important;
			}
		}
	}

	.sso-signup-checkboxes {
		.sso-checkbox {
			label {
				color: #000000 !important;
			}
		}
	}

	.sso-username-suggestions {
		font-weight: 500;
		color: #707070;
	}
	
	.sso-button {
		&.bg-default {
			color: #000 !important;
			box-shadow: 0 0 1px 0 #000;
			border: 1px solid #0f0f0fc2 !important;
			background-color: transparent !important;

			&:hover {
				color: white !important;
				background-color: #131212 !important;
				-webkit-transition: background-color 150ms linear;
				-ms-transition: background-color 150ms linear;
				transition: background-color 150ms linear;
			}
		}
	}

	.sso-home-title {
		p {
			font-weight: 400 !important;
			color: #000000 !important;
		}
	}

	.sso-thankyou-points {
		.sso-points {
			font-weight: 400;
			color: #ff8c00;
		}

		p {
			color: #000000;
			font-weight: 500;
		}
	}
}