<template>
	<sso-page>
		<div class="sso-home-title" slot="custom-title">
			<h2 class="sso-mt-0 sso-mb-2">ONE LOGIN TO EVERYTHING KAPAMILYA</h2>
			<p class="sso-m-0">With your Kapamilya Name, you now have one login to your favorite Kapamilya sites. Now, managing your accounts has never been this easy!</p>
		</div>
		
		<sso-button class="sso-mb-3" type="button" content="LOGIN" @click="$router.push('/signin')"/>
		
		<p class="sso-mt-0 sso-mb-2">No yet registered?
			<router-link class="sso-link sso-signup-text" to="/signup">SIGN UP</router-link>
		</p>

		<sso-checkbox name="dont-show" content="Dont show this again" v-model="dontShow"/>
		<sso-sites/>
	</sso-page>
</template>

<script>
export default {
	data: () => ({
		dontShow: false
	}),

	watch: {
		dontShow(newVal) {
			this.$store.dispatch("HIDE_PAGE", {
				notShow: newVal,
				page: {
					from: "/default",
					to: "/signin"
				}
			});
		}
	}
};
</script>

<style lang="scss">
@import "../assets/css/mixins.scss";
@include sso-page-title {
	.sso-home-title {
		h2 {
			font-weight: 400;
			font-size: 14px;
		}

		p {
			font-size: 12px;
			line-height: 1.5;
		}
	}
}

@include sso-page-content {
	p {
		.sso-signup-text {
			font-weight: 700;
		}
	}
}
</style>
