<template>
  <sso-page
    title="MOBILE VERIFICATION"
    sub-title="Please confirm your mobile number by entering the verification code below. You will receive a verification code shortly. <br><br>The code will expire in 5 minutes."
  >
    <form class="sso-frm-content" v-on:submit.prevent>
      <sso-pin v-model="verificationCode" label="Verification Code:" :value="verificationCode" :length="6" ></sso-pin>
      <div class="sso-error-container sso-mt-1" v-if="errorMessage">
        <div class="sso-error sso-text-center">{{ errorMessage }}</div>
      </div>
    </form>
    <div class="sso-mt-3">
      <p class="sso-resend">
        Didn't receive a verification code?
        <a class="sso-link decoration-hover" href="javascript:void(0)" @click="resend" >Click here to Resend</a>
      </p>
    </div>
  </sso-page>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import {
  SSO_RESEND_CODE,
  SSO_VERIFY_CODE,
  SSO_CHURN_MOBILE
} from "../services";
import { set_PrivactTermsConsent } from "@/services/privacytermconsent";
import {
  CMS_GET_PrivacyActiveVersion,
  CMS_GET_TermsActiveVersion,
  CMS_GET_MarketingConsent
} from "@/services/cms-service";
export default {
  data: () => ({
    verificationCode: "",
    errorMessage: null,
    privacyVersionTitle: null,
    termsVersionTitle: null,
    consentVersionTitle: null
  }),
  mounted() {

    switch (this.routeQuery.from){
      case '/forgot/kapamilya-name':
      case '/forgot/password':
      case '/mobile/login':
        break;

      default:
        CMS_GET_PrivacyActiveVersion({
        params: {},
          callback: res => {
            this.privacyVersionTitle = res.privacyVersionTitle;
          }
        });

        CMS_GET_TermsActiveVersion({
          params: {},
            callback: res => {
              this.termsVersionTitle = res.termsVersionTitle;
            }
        });

        CMS_GET_MarketingConsent({
          params: {},
            callback: res => {
              this.consentVersionTitle = res.versionTitle;
            }
        });
    }

  },

  computed: {
    ...mapGetters(["routeQuery"])
  },

  watch: {
    verificationCode(code) {
      this.errorMessage = null;

      if (code.length === 6) {
        this.verifyCode();
      }
    }
  },

  methods: {
    ...mapActions("profileCompletion", ["setProfileCompletion"]),

    verifyCode() {
      let t = setTimeout(() => {
        this.$loader.show();

        SSO_VERIFY_CODE({
          data: {
            code: this.verificationCode,
            verifToken: this.routeQuery.verifToken,
            returnTokenInfo: true
          },
          callback: result => {
            const statusCode = result.statusCode;

            if (statusCode === 203200) {
              let path = "/welcome";

              // if verification is from sign up.
              if (this.routeQuery.from === "/signup/mobile") {
                path = "/thank-you";
              }

              const data = result.data;

              if (this.routeQuery.from !== "/mobile/login"){

                //GET MARKETING CONSENT
                var _localstoorage_mark_consent = JSON.parse(
                  localStorage.getItem("sso:accounts:marketing-consent")
                );

                let prtmcnparams = {
                  privacyVersionTitle: this.privacyVersionTitle,
                  termsVersionTitle: this.termsVersionTitle,
                  MCVersionTitle: this.consentVersionTitle,
                  consent: _localstoorage_mark_consent.consent,
                  countryCode: _localstoorage_mark_consent.countryCode
                };
                
                //store data from privacy, terms, consent
                set_PrivactTermsConsent(result.data.UID, prtmcnparams);

                localStorage.removeItem("sso:accounts:marketing-consent");
              }

              if (data) {
                // sucessfully login the user
                this.$sso.successLogin({
                  cookieName: data.sessionInfo.cookieName,
                  cookieValue: data.sessionInfo.cookieValue,
                  params: { path }
                });
                return;
              }

            } else if (statusCode === 203204) {
              this.$router.replace({
                path: "/forgot/kapamilya-name/message-sent",
                query: { mobile: result.emailOrMobile }
              });

              return;
            } else if (statusCode === 203206) {
              this.$router.replace({
                path: "/reset-password",
                query: { code: result.passwordResetToken }
              });

              return;
            }

            // user account requires a profile completion
            else if (statusCode === 203208) {
              this.setProfileCompletion(result.userData).then(() => {
                const token = result.profileCompletionToken;
                this.$router.replace({
                  name: "profile-completion-mobile",
                  query: {
                    profileCompletionToken: token,
                    mobileNumber: this.routeQuery.mobile,
                    from: "/mobile-login"
                  }
                });
              });
            }

            // account linking
            else if (statusCode === 203209) {
              const linkAccountToken = result.linkAccountToken;
              this.$router.replace({
                name: "mobile-link-account",
                query: {
                  linkAccountToken,
                  from: "/mobile"
                }
              });

              return;
            }

            // churn mobile & register
            else if (statusCode === 203210) {
              var mobileChurnToken = localStorage.getItem(
                "sso:accounts:mobilechurn-registration"
              );
              localStorage.removeItem("sso:accounts:mobilechurn-registration");

              SSO_CHURN_MOBILE({
                data: {
                  mobileChurningToken: mobileChurnToken
                },
                callback: result => {
                  if (result.statusCode === 203200) {
                    const data = result.data;
                    if (data) {
                      let path = "/thank-you";
                      // sucessfully login the user

                      this.$sso.successLogin({
                        cookieName: data.sessionInfo.cookieName,
                        cookieValue: data.sessionInfo.cookieValue,
                        params: { path }
                      });

                      //set paramater for privacy, terms, consent
                      var _localstoorage_mark_consent = JSON.parse(
                        localStorage.getItem("sso:accounts:marketing-consent")
                      );
                      localStorage.removeItem("sso:accounts:marketing-consent");

                      let prtmcnparams = {
                        privacyVersionTitle: this.privacyVersionTitle,
                        termsVersionTitle: this.termsVersionTitle,
                        MCVersionTitle: this.consentVersionTitle,
                        consent: _localstoorage_mark_consent.consent,
                        countryCode: _localstoorage_mark_consent.countryCode
                      };

                      //store data from privacy, terms, consent
                      set_PrivactTermsConsent(result.data.UID, prtmcnparams);

                      return;
                    }
                  }
                }
              });
            } else if (statusCode === 403416) {
              this.$router.replace({
                name: "mobile-not-allowed",
                query: { from: "/mobile" }
              });
            }

            this.$loader.hide();
            this.errorMessage = result.message;
          }
        });

        clearTimeout(t);
      }, 500);
    },

    resend() {
      // show page loader
      this.$loader.show();

      SSO_RESEND_CODE({
        data: {
          verifToken: this.routeQuery.verifToken,
          mobileNumber: this.routeQuery.mobile
        },
        callback: ({ statusCode, verifToken }) => {
          // hide page loader
          this.$loader.hide();
          this.errorMessage = null;

          if (statusCode === 203201) {
            // navigate to mobile verification page
            this.$router.replace({
              name: "mobile-verify",
              query: Object.assign(
                { verifToken },
                {
                  mobile: this.routeQuery.mobile,
                  from: this.routeQuery.from
                }
              )
            });
          }
        }
      });
    }
  }
};
</script>
