<template>
	<div class="page-not-found">
        <div class="wrapper bg-main-2">
            <div class="main" role="main">
                <div class="main-inner left-side">
                    <p>Please bear with us, Kapamilya!</p>
                    <p>This page is taking a long time to load due to heavy site traffic. Why don’t you try refreshing the page? You may also <a href="/">click here</a>.</p>
                </div>
                <div class="main-inner right-side">
                    <img class="img-artwork" src="https://asset-accounts.abs-cbn.com/img/img-artwork-2.png" alt="Kapamilya Bayanihan" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>
    /* @import url('../assets/css/pagenotfound.css'); */
    .wrapper {
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
    z-index: 10;
    margin: 0 auto;
  } 
  .wrapper.bg-main-2 {
    background: url(https://asset-accounts.abs-cbn.com/img/bg-main-2.png) no-repeat bottom right;
  }
  .wrapper .main {
    width: 89.0625%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .wrapper .main .left-side {
    width: 43.75%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  .wrapper .main .left-side p {
    margin: 0;
    font-size: 1.875em;
    font-weight: 500;
    line-height: 1.5;
    padding: 0;
    padding-bottom: 10px;
    color: #ffffff;
  }
  .wrapper .main .left-side p + p {
    font-size: 1.000em;
    color: #ffffff;
  }
  .wrapper .main .left-side p a {
    color: #00bff3;
    text-decoration: none;
  }
  .wrapper .main .left-side p a:hover {
    text-decoration: underline;
  }
  .wrapper .main .right-side {
    max-width: 100%;
    height: auto;
  }
  .wrapper .main .right-side .img-artwork {
    width: 100%;
    height: auto;
  }
  
  .bg-circle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 340px;
    background: url(/img/bg-main-2.jpg) no-repeat top right;
    z-index: 1;
  }
  
  @media screen and (max-width: 960px) {
    .wrapper.bg-main-1, .wrapper.bg-main-2 {
      background: none;
    }
    .wrapper .main {
      display: block;
    }
    .wrapper .main .left-side {
      width: 83.33333%;
    }
    .wrapper .main .left-side p {
      font-size: 1.000em;
    }
    .wrapper .main .left-side p + p {
      font-size: 0.875em;
    }
    .wrapper .main .main-inner .img-artwork {
      display: block;
      width: 70%;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .bg-circle {
      display: none;
    }
  }  
</style>
