<template>
    <sso-page title="Sorry Kapamilya!" sub-title="We are experiencing a temporary slowdown but we are working double time to get this fixed. Please try again later.">
		<sso-button type="button" :content="display" @click="navigate" v-bind:disabled="!isDisabled" class="sso-mb-3"/>
    </sso-page>
</template>

<script>
import { mapState } from "vuex";
export default {
	data: () => ({
		isDisabled : null,
		display: "",
	}),

  created () {
		this.toggleTimer();
    
  },

  computed: {
		...mapState(['view']),

  },

  methods: {
		navigate() {
			if (this.view === 'fullscreen') {
				this.$router.replace({
					name: 'signin'
				});
			}
			if (this.view === 'slidepanel') {
				this.$sso.hide()
			}
		},

		toggleTimer(){
			this.display = "15";
			let timer = 15;
			let timerx = setInterval(() => {
				
				if (timer != 0){
					timer = timer - 1;
					this.display = timer.toString();
				} else {
					this.display = "BACK TO LOGIN";
					this.isDisabled = true;
				}

			}, 1000);

		}
	}
}
</script>
