<template>
  <sso-page></sso-page>
</template>

<script>
import { getCookie } from "tiny-cookie";
import { mapState } from "vuex";
export default {
  mounted() {
    let siteRedirect = getCookie("app_siteurl");

    siteRedirect = siteRedirect.replace("https://", "").replace("http://", "");

    this.$loader.show(
      `<div>
                <span class="sso-d-block sso-pb-1 sso-fontweight-bold">Redirecting...</span>
                <a class="sso-link sso-decoration-none" href="#">${siteRedirect}</a>
            </div>`
    );
  },

  created() {
    const gigya = window.gigya;
    console.log('ka_sitesource ',this.ka_sitesource.ka_sitesource);
    if (gigya) {
      const ka_sitesource = this.ka_sitesource.ka_sitesource;
      gigya.setSSOToken({
        redirectURL: ka_sitesource
      });
    }
  },

  methods: {
  },

  computed: {
    ...mapState(["ka_sitesource"])
  }
};
</script>