<template>
	<sso-page title="LOG IN" :error-message="errorMessage">
		<form class="sso-frm-content" v-on:submit.prevent="$v.$touch()">
			<sso-input class="sso-mb-3" type="text" name="loginID" label="Kapamilya Name / Email" v-model="loginID" :error="errorLoginID"></sso-input>
			<sso-input class="sso-mb-2" name="password" label="Password" v-model="password" :type="pwShown ? 'text' : 'password'" :error="errorPassword">
				<i class="fas" slot="icon" @click="pwShown = !pwShown" :class="[(pwShown ? 'fa-eye' : 'fa-eye-slash')]"></i>
			</sso-input>

			<div class="sso-form-forgot sso-mb-2">
				<p>
					Forgot your
					<router-link class="sso-link" to="/forgot/password">Password</router-link> or
					<router-link class="sso-link" to="/forgot/kapamilya-name">Kapamilya Name</router-link>?
				</p>
			</div>

			<sso-checkbox class="sso-mb-3 sso-text-left" name="keep-login" content="Keep me logged in" v-model="keepLogin"/>
			
			<div class="sso-form-buttons sso-mb-3">
				<sso-button type="submit" content="LOG IN" @click="login(!$v.$invalid)"/>
				<span class="or sso-d-block">or</span>
				<sso-button type="button" content="LOG IN WITH FACEBOOK" theme="fb-login" @click="loginWithFacebook">
					<i class="fab fa-facebook-f sso-mr-1"></i>
					<span>LOGIN WITH FACEBOOK</span>
				</sso-button>
			</div>
			
			<div class="sso-form-footer sso-mb-3">
				<p class="sso-mb-2">Log in through mobile? <router-link class="sso-link" to="/mobile">Click here</router-link></p>
				<p>Not yet registered? <router-link class="sso-link" to="/signup">Sign up</router-link></p>
			</div>
		</form>
	</sso-page>
</template>

<script>
import { mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import { SSO_LOGIN, SSO_SOCIAL_LOGIN } from '@/services'
import { FacebookLogin, FB_STATUS } from '@/services/fbLogin'

export default {

	data: () => ({
		pwShown: false,

		loginID: null,
		password: null,
		keepLogin: false,
		errorMessage: null,
	}),

	validations: {
		loginID: { required },
		password: { required }
	},

	computed: {
			errorLoginID() {
			if (!this.$v.$error) return null;

			if (!this.$v.loginID.required) return "Kapamilya Name / Email is required.";

			return null;
		},
		errorPassword() {
			if (!this.$v.$error) return null;

			if (!this.$v.password.required) return "Password is required.";

			return null;
		}
	},

	methods: {
		...mapActions('profileCompletion', ['setProfileCompletion']),

		login(valid) {
			if (!valid) 
				return

			this.$loader.show()
			
			SSO_LOGIN({
				data: {
					loginID: this.loginID,
					password: this.password,
					keepMeLogin: this.keepLogin
				},
				params: { include: 'profile,loginIDs,data,password' },
				callback: result => this.processLoginResponse(result)
			})
		},

		retryLogin() {
			SSO_LOGIN({
				data: {
					loginID: this.loginID,
					password: this.password,
					keepMeLogin: this.keepLogin
				},
				params: { include: 'profile,loginIDs,data,password' },
				callback: result => this.processLoginResponse(result)
			});
		},

		loginWithFacebook() {
			this.$loader.show();

			// login with facebook
			FacebookLogin(({ status, access_token, user_id, fn, ln }) => {

				// user registered in facebook using email address or mobile number
				if (status === FB_STATUS.EMAIL || status === FB_STATUS.MOBILE) {
					SSO_SOCIAL_LOGIN({
						data: { accessToken: access_token },
						callback: (result) => {
							this.processLoginResponse(result, { 
								user_id, fn, ln 
							})
						}
					})
				}

				// user has declined his/her email address
				else if (status === FB_STATUS.DECLINED_PERMISSION) {
					this.$router.push({
						name: 'social-email-declined' 
					})
				}

				// failed loging in with facebook
				else {
					this.$loader.hide()
				}
			});
		},

		processLoginResponse(result, params = {}) {
			const statusCode = result.statusCode

			// if credentials are correct,
			// store the session info in the browser cookie
			if (statusCode === 203200) {
				const data = result.data;

				// sucessfully login the user
				this.$sso.successLogin({
					cookieName: data.sessionInfo.cookieName,
					cookieValue: data.sessionInfo.cookieValue
				});

				return
			}

			// user email address is not verified
			else if (statusCode === 203202) {
				// navigate to email verification has been sent.
				this.$router.push({
					name: 'confirm-email-link',
					query: { verifToken: result.verifToken }
				});
			}

			// if user account is in pending profile completion
			else if (statusCode === 203208) {
				this.setProfileCompletion(Object.assign({ facebook: params }, result.userData, )).then(() => {
					const profileCompletionToken = result.profileCompletionToken
					const profileCompletionType = result.profileCompletionType || ''
	
					this.$router.push({
						path: `/profile-completion/${profileCompletionType}`,
						query: {
							profileCompletionToken,
							from: '/signin'
						}
					})
				})
			}

			// if user account email address needs an account linking.
			else if (statusCode === 203209) {
				this.$router.push({
					name: 'social-account-linking',
					query: Object.assign({}, result, {
						user_id: params.user_id,
						from: '/signin'
					})
				});
			}

			// fb email address was declined by the user
			else if (statusCode === 403413) {
				this.$router.push({ 
					name: 'social-email-declined' 
				})
			} 
			
			else {
				this.errorMessage = result.message;
			}

			// If the API Network has a failure then call the retry login function
			if(result.errorMessage) {
				this.retryLogin();
				return;
			}

			this.$loader.hide();
		}
	}
};
</script>

<style lang="scss">
@import "../assets/css/mixins.scss";
@include sso-page-content {
	.sso-frm-content {
		.sso-form-forgot {
			width: 100%;

			> p {
				text-align: left;
				font-size: 0.88em;
			}
		}

		.sso-form-buttons {
			.or {
				padding: 8px 0;
				font-size: 13px;
			}
		}

		.sso-form-footer {
			p {
				font-size: 0.88em;
			}
		}
	}
}
</style>
