<template>
	<sso-page title="" sub-title="">
		<!-- <div class="sso-thankyou-points sso-mb-2">
			<a class="sso-points" href="https://thankyou.abs-cbn.com/?utm_source=sso&utm_medium=welcome-screen&utm_campaign=ssoph2" target="_blank">
				YOU NOW HAVE<span class="points">30</span>KAPAMILYA THANK YOU POINTS
			</a>
			<p class="sso-mt-3">Use your points for free IWantTV Premium access, KBO and other Kapamilya gifts</p>
		</div>
		<div class="sso-thankyou-links">
			<sso-button class="sso-mb-2" type="button" content="LEARN MORE" @click="learnMore"/>
			<a class="sso-d-block sso-link sso-mb-2" href="https://kapamilya-accounts.abs-cbn.com/profile"> 
				Complete your profile <br>and get 100 Thank you Points
			</a>
			<a class="sso-d-block sso-link" href="javascript:void()" v-on:click.prevent="continueToSite()">SKIP AND CONTINUE</a>
		</div> -->
	</sso-page>
</template>

<script>
import { mapState } from 'vuex';
export default {
	computed: {
		...mapState(['view'])
	},

	created(){
        if (this.view === 'fullscreen') {
            this.$router.replace({
                name: 'site-redirect'
            });
        }

        if (this.view === 'slidepanel') {
            this.$sso.hide()
        }

    },

	methods: {
		learnMore() {
			window.open("https://thankyou.abs-cbn.com/about", "_blank");
		},

		continueToSite() {
			if (this.view === 'fullscreen') {
				this.$router.replace({
					name: 'site-redirect'
				});
			}

			if (this.view === 'slidepanel') {
				this.$sso.hide()
			}
		}
	}
};
</script>

<style lang="scss">
@import "@/assets/css/mixins.scss";
@include sso-page-title {
	.sso-subTitle {
		padding: 0 !important;
	}
}

@include sso-page-content {
	.sso-thankyou-points {
		.sso-points {
			font-size: 12px;

			.points {
				display: block;
				font-size: 50px;
				font-weight: 700;
			}
		}

		a {
			text-decoration: none;
		}

		p {
			font-size: 0.85em;
			line-height: 18px;
		}
	}

	.sso-thankyou-links {
		a {
			line-height: 20px;
		}
	}
}
</style>
