<template>
	<sso-page title="HELLO KAPAMILYA!" sub-title="With your Kapamilya Name, you now have one login to your Favorite Kapamilya sites. Now, managing your accounts has never been this easy!">
		<sso-button type="button" content="CONTINUE" @click="continueToSite" class="sso-mb-3"/>
		<sso-checkbox name="dont-show" content="Don't show this again" v-model="dontShow" />
		<sso-sites/>
	</sso-page>
</template>

<script>
import { mapGetters, mapState } from "vuex";
export default {
	data: () => ({
		dontShow: false
	}),

	watch: {
		dontShow(newVal) {
			this.$store.dispatch('HIDE_PAGE', {
				notShow: newVal,
				page: {
					from: '/welcome',
					to: '/thank-you'
				}
			});
		}
	},

	computed: {
		...mapState(['view']),

		...mapGetters(['routeQuery'])
	},

	methods: {
		continueToSite() {
			if (this.view === 'fullscreen') {
				this.$router.replace({
					name: 'site-redirect'
				});
			}

			if (this.view === 'slidepanel') {
				this.$sso.hide()
			}
		}
	}
};
</script>

<style lang="scss">
@import "@/assets/css/mixins.scss";
@include sso-page-title {
	.sso-welcome {
		font-size: 1.2em;
		padding-bottom: 4px;
		font-weight: 600;
		color: #fff;
	}
}
</style>
