<template>
    <div class="sso-form-control" ref="control" :class="{ 'sso-has-error': error }">

        <sso-tooltip>
            <span>{{ tooltip.text }}</span>
            <span class="sso-input-icons" slot="reference">
                <i :class="tooltip.icon"></i>
            </span>
        </sso-tooltip>
        
        <div class="sso-mt-1 birthdate-form-control">
            <div class="sso-d-flex">
                
                <div class="sso-w-25 sso-text-left sso-lh-2">
                    <label class="sso-floating-label bd-text" :class="[(labelFloat ? activeClass : null)]">Birthdate</label>
                </div>

                <div class="sso-w-100 sso-d-flex">
                    <date-pick v-model="selectedDate"></date-pick>
                </div> 

            </div>
        </div> 

        <div class="sso-input-group">
            <!-- error message -->
            <transition enter-active-class="slideInDown animated duration-250ms" leave-active-class="slideOutUp animated duration-250ms">
                <div class="sso-error-container" v-if="error">
                    <slot name="error">
                        <div class="sso-error">{{ error }}</div>
                    </slot>
                </div>
            </transition>
        </div>

    </div>
</template>

<script>

import DatePick from '../plugins/DatePicker/vueDatePick.vue';
import { isNull, isEmpty } from "lodash";

export default {
    name: "sso-birthdate",
    components: {DatePick},
    props: {
        label: {
            type: String
        },

        name: {
            type: String
        },

        type: {
            type: String,
            default: "text"
        },

        icon: {
            type: String,
            default: null
        },

        tooltip: {
            type: Object,
            default: () => ({})
        },

        value: {
            type: [String, Number]
        },

        activeClass: {
            type: String,
            default: "active-input"
        },

        info: {
            type: String,
            default: null
        },

        error: {
            type: [String, Boolean],
            default: null
        },

        disabled: {
            type: [Boolean, String]
        },

        // selectedDate: {
        //     type: String
        // }
    }, 
    watch: {
        selectedDate: function(value) {
            this.$emit('value', value);
        }
    },
    data: () => ({
        selectedDate: 'mm/dd/yyyy',
    }),
    computed: {
        labelFloat() {
            if (isNull(this.value) && !this.isFocus) {
                return false;
            }

            if (isEmpty(this.value) && !this.isFocus) {
                return false;
            }

            return true;
        },
    },
    methods : {
        floatLabel(float) {
            this.labelFloat = float;
        }
    }
};
</script>

<style lang="scss">
    .birthdate-form-control {
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
        border-bottom-color: #a7a7a7 !important;
    }
    input.vc-text-gray-800 {
        color: #b6b6b6 !important;
    } 
    .vc-popover-caret {
        display: none !important;
    }
    .vc-rounded-lg {
        border-radius: 0px;
    }
    .vc-popover-content-wrapper[data-v-96ab1cec] {
        left: -60px !important;
    }
    .vc-popover-content-wrapper[data-v-a9f0003c] {
        left: 0px !important;
    }
    .sso-bd-icon-holder {
        align-items: center;
        text-align: right;
    }
    .bd-text {
        font-size: 12px;
        font-weight: 300;
        font-family: inherit;
    }

    
</style>
