<template>
	<component :is="tag" class="sso-button" :class="buttonTheme" :type="type" :name="name" v-on="$listeners">
		<slot>{{ content }}</slot>
	</component>
</template>

<script>
export default {
	name: "sso-button",

	props: {
		tag: {
			type: String,
			default: "button"
		},

		type: {
			type: String,
			default: "button"
		},

		name: {
			type: String,
			default: null
		},

		content: {
			type: String,
			default: null
		},

		theme: {
			type: String,
			default: "default"
		}
	},

	computed: {
		buttonTheme() {
			return "bg-" + this.theme;
		}
	}
};
</script>

<style lang="scss">
@import "../assets/css/mixins.scss";
@include sso-page-content {
	button,
	input[type="button"],
	a {
		&.sso-button {
			width: 100%;
			cursor: pointer;
			font-size: 12px;
			font-weight: 600;
			padding: 1.2em 0;
			font-family: inherit;
			letter-spacing: 1px;
			box-sizing: border-box;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	a.sso-button {
		display: block;
	}
}
</style>
