<template>
	<div class="sso-form-control">
		<div class="sso-checkbox">
			<input v-on="$listeners" :id="name" type="checkbox" :name="name" @change="$emit('input', $event.target.checked)" :checked="value">
			<label :for="name">
				<slot>
					<span class="text-content">{{ content }}</span>
				</slot>
			</label>
		</div>
	</div>
</template>

<script>
export default {
	name: "sso-checkbox",

	props: {
		name: {
			type: String,
			default: null
		},
		content: {
			type: String,
			default: null
		},
		value: {
			type: Boolean
		}
	}
};
</script>

<style lang="scss">
@import "../assets/css/mixins.scss";
@include sso-page-content {
	.sso-checkbox {
		text-align: left;
		font-size: 0.88em;
		display: inline;

		[type="checkbox"] {
			position: absolute;
			left: -9999px;
			opacity: 0;
		}

		label {
			cursor: pointer;
			margin-left: 20px;
			line-height: 16px;
			user-select: none;
			position: relative;
			display: inline-block;

			.text-content {
				margin-left: 4px;
			}
		}

		[type="checkbox"] + label:before {
			content: "";
			z-index: 0;
			top: -1px;
			left: -20px;
			width: 16px;
			height: 16px;
			position: absolute;
			border: 1px solid #9f9f9f;
		}

		[type="checkbox"]:checked + label:after {
			content: "\2714\0020";
			top: -0.2px;
			left: -16px;
			font-size: 12px;
			position: absolute;
			font-family: "Zapf Dingbats";
		}
	}
}
</style>
