<template>
    <span class="sso-consent-tooltip-wrapper" :class="tooltip.class">
        {{ tooltip.text }}
        <slot name="custom"></slot>
    </span>
</template>

<script>
export default {
    name: "sso-consent-tooltip",
    props: {
        tooltip: {
            type: [String, Object],
            default: null
        }
    }
};
</script>

<style lang="scss">
.sso-consent-tooltip-wrapper {
    top: -476px;
    left: -25px;
    width: 260px;
    z-index: 10;
    height: auto;
    position: absolute;
    background-color: #edfbff;
    font-size: 11px;
    color: #393939;
    padding: 10px 15px;
    text-align: center;
    line-height: 1.4;
    display: none;
    border: 1px solid #acd5e5;

    // fix for firefox
    @-moz-document url-prefix() {
        top: -468px;
        left: -255px;
    }

    @media only screen and (max-width:430px)  { 
        left: -28px;
    }

    @media only screen and (max-width:320px)  { 
        left: -42px;
    }

    &:after {
        content: "";
        left: calc(100% - 150px);
        width: 11px;
        height: 11px;
        bottom: -6px;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2;
        transform: rotate(45deg);
        background-color: #edfbff;
        border-right: 1px solid #acd5e5;
        border-bottom: 1px solid #acd5e5;
    }

    &.sso-how-to-unsubscribe {
        top: -100px;
        left: -25px;

        &:after {
            left:  85px;
        }
        @media only screen and (max-width:320px)  { 
            left: -45px;

            &:after {
                left: 100px;
            }
        }

        // fix for firefox
        @-moz-document url-prefix() {
            top: -85px;
            left: -265px;
        }
    }
}
</style>
