<template>
    <div class="sso-form-control" ref="control" :class="{ 'sso-has-error': error }">

        <!-- tooltip -->
        <sso-tooltip>
            <span>{{ tooltip.text }}</span>
            <span class="sso-input-icons" slot="reference">
                <i :class="tooltip.icon"></i>
            </span>
        </sso-tooltip>
        
        <div class="sso-input-group">

            <!-- floating label -->
            <label class="sso-floating-label" :class="[(labelFloat ? activeClass : null)]">{{ label }}</label>

            <div class="sso-input-wrapper">
                <!-- input field -->
                <input ref="input" class="sso-input" autocomplete="off" :type="type" :name="name" :class="{ 'sso-pr-4': (icon || tooltip.icon) }" :value="value" @input="onInput" @focus="onFocus" @blur="onBlur" @change="onChange" :disabled="disabled" />
                
                <!-- input icon -->
                <div class="sso-icon" v-if="hasInputIcon">
                    <span class="sso-input-icons">
                        <slot name="icon">
                            <i :class="icon"></i>
                        </slot>
                    </span>
                </div>
            </div>
            
            <!-- field info -->
            <p class="sso-field-info sso-m-0 sso-pt-1" v-if="info">{{ info }}</p>
            
            <!-- any adtion custom element for the input -->
            <slot name="custom"></slot>

            <!-- error message -->
            <transition enter-active-class="slideInDown animated duration-250ms" leave-active-class="slideOutUp animated duration-250ms">
                <div class="sso-error-container" v-if="error">
                    <slot name="error">
                        <div class="sso-error">{{ error }}</div>
                    </slot>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import { isNull, isEmpty } from "lodash";

export default {
    name: "sso-input",

    props: {
        label: {
            type: String
        },

        name: {
            type: String
        },

        type: {
            type: String,
            default: "text"
        },

        icon: {
            type: String,
            default: null
        },

        tooltip: {
            type: Object,
            default: () => ({})
        },

        value: {
            type: [String, Number]
        },

        activeClass: {
            type: String,
            default: "active-input"
        },

        info: {
            type: String,
            default: null
        },

        error: {
            type: [String, Boolean],
            default: null
        },

        disabled: {
            type: [Boolean, String]
        }
    },

    watch: {
        value(value) {
            if (value && !this.isFocus) {
                this.isFocus = true;
            }
        }
    },

    computed: {
        labelFloat() {
            if (isNull(this.value) && !this.isFocus) {
                return false;
            }

            if (isEmpty(this.value) && !this.isFocus) {
                return false;
            }

            return true;
        },

        hasInputIcon() {
            return !isEmpty(this.$slots.icon);
        }
    },

    data: () => ({
        isFocus: false
    }),

    methods: {
        onInput(event) {
            this.$emit('input', event.target.value);
        },

        onFocus(event) {
            this.isFocus = true;
            this.$emit('focus', event);
        },

        onBlur(event) {
            this.isFocus = false;
            this.$emit('blur', event);
        },

        onChange() {
            this.isFocus = true;
            this.$emit('change', event);
        },

        notEmpty(value) {
            return !isEmpty(value);
        },

        floatLabel(float) {
            this.labelFloat = float;
        }
    }
};
</script>