<template>
	<transition :enter-active-class="enterAnimation" leave-active-class="fadeOut animated duration-250ms">
		<section class="sso-loader-container">
			<div class="sso-loader-inner sso-ball-scale-ripple-multiple sso-abs">
				<div></div>
				<div></div>
				<div></div>
				<span class="sso-loader-message">
					<span v-if="!hasLoaderContent()">
						<p>Please wait</p><h2>KAPAMILYA</h2>
					</span>
					<span v-else v-html="content">

					</span>
				</span>
			</div>
		</section>
	</transition>
</template>

<script>
import { isEmpty } from 'lodash';
export default {
	name: "sso-loader",

	props: {
		delay: {
			type: String,
			default: 'delay-250ms'
		},

		content: {
			type: [String, Object],
			default: null
		}
	},

	computed: {
		enterAnimation() {
			return `zoomIn animated duration-250ms ${this.delay}`;
		}
	},

	methods: {
		hasLoaderContent() {
			return !isEmpty(this.content)
		}
	}
};
</script>

<style lang="scss">
@import "../assets/css/mixins.scss";

////////////////////
///// ABS Loader ///
////////////////////

$width: 100px;
$height: 100px;
$white: #fff;
$black: #101010;
$msgPosition: calc(50% - (#{$height} + 30px));

#sso-account {
	//Loader Variables
	@mixin centeredFull() {
		//center element
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -100px);
		-ms-transform: translate(-50%, -100px);
		transform: translate(-50%, -100px);
	}

	.sso-loader-container {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;

		&.relative {
			//for relative/inline loader
			position: relative;
			min-height: 250px;
			width: 100%;
			background-color: transparent;
			z-index: 99;
			text-align: center;
			.loader-inner {
				top: 25%;
			}
		}
		&.dark {
			background-color: $black;
			.loader-message {
				p,
				h2 {
					color: $white;
				}
			}
		}
		&.light {
			background-color: $white;
			.loader-message {
				p,
				h2 {
					color: $black;
				}
			}
		}
		.spinner {
			@include centeredFull;
			margin-left: -19px;
			z-index: 9999;
			color: #fee400;
			font-size: 70px;
		}
		.loader-inner {
			@include centeredFull;
			& > div {
				background-color: #fff;
				border-color: #c3b699;
			}
		}
		.fas {
			@include centeredFull;
			font-size: 1.5em;
			color: $white;
			text-shadow: 0 0 1em #000;
			-webkit-text-shadow: 0 0 1em #000;
			-moz-text-shadow: 0 0 1em #000;
			-webkit-animation-duration: 2s;
			-webkit-animation-name: pulse;
			-webkit-animation-direction: alternate;
			-webkit-animation-iteration-count: infinite;
			animation-duration: 2s;
			animation-name: pulse;
			animation-direction: alternate;
			animation-iteration-count: infinite;
			&:before {
				-webkit-animation: pulse-shadow 3s infinite ease-in-out;
				-o-animation: pulse-shadow 3s infinite ease-in-out;
				-ms-animation: pulse-shadow 3s infinite ease-in-out;
				-moz-animation: pulse-shadow 3s infinite ease-in-out;
				animation: pulse-shadow 3s infinite ease-in-out;
			}
		}
		.sso-ball-scale-ripple-multiple {
			//Loader style #1
			&.sso-abs {
				width: $width;
				height: $height;

				@include centeredFull;
				& > div {
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-width: 5px;
					background-color: transparent;
					&:nth-child(1) {
						border-color: #ec3737;
					}
					&:nth-child(2) {
						border-color: #13ae5e;
					}
					&:nth-child(3) {
						border-color: #1470b4;
					}
				}
			}
		}
		.sso-ball-scale-multiple {
			//Loader style #2
			&.sso-abs {
				& > div {
					left: -50px;
					width: 100px;
					height: 100px;
					border-width: 4px;
					background-color: transparent;
					&:nth-child(1) {
						background-color: #ec3737;
					}
					&:nth-child(2) {
						background-color: #13ae5e;
					}
					&:nth-child(3) {
						background-color: #1470b4;
					}
				}
			}
		}
		.sso-ball-pulse {
			//Loader style #2
			&.abs {
				& > div {
					border-width: 4px;
					background-color: transparent;
					&:nth-child(1) {
						background-color: #1470b4;
					}
					&:nth-child(2) {
						background-color: #13ae5e;
					}
					&:nth-child(3) {
						background-color: #ec3737;
					}
				}
			}
		}
		.sso-loader-message {
			display: block;
			width: 280px;
			margin: 0 auto;
			@include centered-horizontal;
			text-align: center;
			bottom: $msgPosition;
			color: $white;
			p,
			h2,
			h3 {
				text-transform: uppercase;
				color: #fff;
			}
			p {
				margin: 0;
				font-weight: 300;
				font-size: 12px;
			}
			h2 {
				margin-top: 0;
				font-weight: 400;
			}
		}
	}

	@-webkit-keyframes ball-scale-ripple {
		0% {
			-webkit-transform: scale(0.1);
			transform: scale(0.1);
			opacity: 1;
		}
		70% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 0.7;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes ball-scale-ripple {
		0% {
			-webkit-transform: scale(0.1);
			transform: scale(0.1);
			opacity: 1;
		}
		70% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 0.7;
		}
		100% {
			opacity: 0;
		}
	}

	.sso-ball-scale-ripple > div {
		height: 50px;
		width: 50px;
		border-radius: 100%;
		border: 2px solid #fff;
		-webkit-animation: ball-scale-ripple 1s 0s infinite
			cubic-bezier(0.21, 0.53, 0.56, 0.8);
		animation: ball-scale-ripple 1s 0s infinite
			cubic-bezier(0.21, 0.53, 0.56, 0.8);
	}

	@-webkit-keyframes ball-scale-ripple-multiple {
		0% {
			-webkit-transform: scale(0.1);
			transform: scale(0.1);
			opacity: 1;
		}
		70% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 0.7;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes ball-scale-ripple-multiple {
		0% {
			-webkit-transform: scale(0.1);
			transform: scale(0.1);
			opacity: 1;
		}
		70% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 0.7;
		}
		100% {
			opacity: 0;
		}
	}

	.sso-ball-scale-ripple-multiple {
		position: relative;
		-webkit-transform: translateY(-25px);
		transform: translateY(-25px);
	}

	.sso-ball-scale-ripple-multiple > div:nth-child(0) {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}

	.sso-ball-scale-ripple-multiple > div:nth-child(1) {
		-webkit-animation-delay: -0.6s;
		animation-delay: -0.6s;
	}

	.sso-ball-scale-ripple-multiple > div:nth-child(2) {
		-webkit-animation-delay: -0.4s;
		animation-delay: -0.4s;
	}

	.sso-ball-scale-ripple-multiple > div:nth-child(3) {
		-webkit-animation-delay: -0.2s;
		animation-delay: -0.2s;
	}

	.sso-ball-scale-ripple-multiple > div {
		position: absolute;
		top: -2px;
		left: -26px;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border: 2px solid #fff;
		-webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite
			cubic-bezier(0.21, 0.53, 0.56, 0.8);
		animation: ball-scale-ripple-multiple 1.25s 0s infinite
			cubic-bezier(0.21, 0.53, 0.56, 0.8);
	}

	@-webkit-keyframes ball-scale-multiple {
		0% {
			-webkit-transform: scale(0);
			transform: scale(0);
			opacity: 0;
		}
		5% {
			opacity: 1;
		}
		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 0;
		}
	}

	@keyframes ball-scale-multiple {
		0% {
			-webkit-transform: scale(0);
			transform: scale(0);
			opacity: 0;
		}
		5% {
			opacity: 1;
		}
		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 0;
		}
	}

	.sso-ball-scale-multiple {
		position: relative;
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	.sso-ball-scale-multiple > div:nth-child(2) {
		-webkit-animation-delay: -0.4s;
		animation-delay: -0.4s;
	}
	.sso-ball-scale-multiple > div:nth-child(3) {
		-webkit-animation-delay: -0.2s;
		animation-delay: -0.2s;
	}
	.sso-ball-scale-multiple > div {
		background-color: #fff;
		width: 15px;
		height: 15px;
		border-radius: 100%;
		margin: 2px;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		position: absolute;
		left: -30px;
		top: 0px;
		opacity: 0;
		margin: 0;
		width: 60px;
		height: 60px;
		-webkit-animation: ball-scale-multiple 1s 0s linear infinite;
		animation: ball-scale-multiple 1s 0s linear infinite;
	}

	@-webkit-keyframes scale {
		0% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}
		45% {
			-webkit-transform: scale(0.1);
			transform: scale(0.1);
			opacity: 0.7;
		}
		80% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}
	}

	@keyframes scale {
		0% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}
		45% {
			-webkit-transform: scale(0.1);
			transform: scale(0.1);
			opacity: 0.7;
		}
		80% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}
	}

	.sso-ball-pulse > div:nth-child(1) {
		-webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
		animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
	}

	.sso-ball-pulse > div:nth-child(2) {
		-webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
		animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
	}

	.sso-ball-pulse > div:nth-child(3) {
		-webkit-animation: scale 0.75s 0s infinite
			cubic-bezier(0.2, 0.68, 0.18, 1.08);
		animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
	}

	.sso-ball-pulse > div {
		background-color: #fff;
		width: 15px;
		height: 15px;
		border-radius: 100%;
		margin: 2px;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		display: inline-block;
	}

	/* Loader Animator - gradient */
	.sso-loader-gradient {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0),
			rgba(255, 255, 255, 0.15),
			rgba(0, 0, 0, 0)
		);
		transform: translateX(-100%);
		animation: loading 1.5s 30; /* Chrome, IE 10+, Fx 29+ */
		-webkit-animation: loading 1.5s 30; /* Safari 4+ */
		-moz-animation: loading 1.5s 30; /* Fx 5+ */
		-o-animation: loading 1.5s 30; /* Opera 12+ */
		z-index: 0;
	}

	@-moz-keyframes loading {
		100% {
			transform: translateX(100%);
		}
	}
	@-webkit-keyframes loading {
		100% {
			transform: translateX(100%);
		}
	}
	@-o-keyframes loading {
		100% {
			transform: translateX(100%);
		}
	}
	@keyframes loading {
		100% {
			transform: translateX(100%);
		}
	}
}
</style>
