<template>
  <div class="sso-form-control" :class="{ 'sso-has-error': error }">
    <div class="sso-mobile-input">
      <sso-select class="sso-area-codes" type="text" select-label="countryName" :selected-value="selectValue" :select-options="countries" hide-label="true" v-model="country" >
        <template slot="selected" slot-scope="option">
          <span>
            <i class="cflags" v-if="option.countryCode !== null" :style="{ 'background-position-x': -option.x + 'px', 'background-position-y': -option.y + 'px' }" ></i>
            <!-- <span class="cflag-text">{{ option.countryName }}</span> -->
          </span>
        </template>
        <template slot="select-option" slot-scope="option">
          <span>
            <i class="cflags" v-if="option.countryCode !== null" :style="{ 'background-position-x': -option.x + 'px', 'background-position-y': -option.y + 'px' }" ></i>
            <span class="cflag-text">
              {{ option.countryName }}
              ( <span class="sso-prefixes">{{ option.areaCode || 'N/A' }}</span>)
            </span>
          </span>
        </template>
      </sso-select>
      <sso-input class="sso-mobile-text" type="text" name="loginID" label="Mobile Number" v-model.trim="number" ></sso-input>
    </div>

    <!-- error message -->
    <transition enter-active-class="slideInDown animated duration-250ms" leave-active-class="slideOutUp animated duration-250ms" >
      <div class="sso-error-container" v-if="error">
        <slot name="error">
          <div class="sso-error">{{ error }}</div>
        </slot>
      </div>
    </transition>
  </div>
</template>
<script>
import { find, isEmpty } from "lodash";

export default {
  name: "sso-mobile-input",
  props: {
    countries: {
      type: [Object, Array],
      required: true
    },

    selectedValue: {
      type: Object
    },

    hasOtherOption: {
      type: Boolean,
      default: false
    },

    error: {
      type: [String, Boolean],
      default: null
    }
  },

  watch: {
    number() {
      this.emitValue();
    },

    country() {
      this.emitValue();
    }
  },

  methods: {
    emitValue() {
      if (
        isEmpty(this.country) ||
        this.number === null ||
        typeof this.number === "undefined"
      )
        return;

      const areaCode = this.country.areaCode;

      let num = this.number
        .replace(areaCode, "")
        // .replace(areaCode.replace('+', ''), '')
        .replace("+", "");

      if (num.startsWith("0")) {
        num = num.replace("0", "");
      }

      this.value = {
        number: num,
        areaCode: areaCode,
        smsProvider: this.country.smsProvider
      };

      this.$emit("input", this.value);
    }
  },

  computed: {
    selectValue() {
      if (!this.countries) return null;

      var value1 = find(this.countries, c => {
        return c.areaCode === (this.selectedValue || {}).areaCode;
      });

      // if (isEmpty(this.number))
      // 	return value1;

      // var value2 = filter(this.countries, (item) => {
      // 	return startsWith(item.areaCode, this.number);
      // });

      // if (value2 && value2.length > 0)
      // 	return value2[0];

      return value1;
    }
  },

  created() {
    if (this.hasOtherOption) {
      let selectOption = { countryCode: null, x: 0, y: 0 };
      this.countries.forEach(item => {
        if (item.countryCode == null) {
          this.countries.shift(selectOption);
        }
      });

      this.countries.unshift(selectOption);
    }
  },

  data: () => ({
    number: null,
    country: null,
    value: null
  })
};
</script>
<style lang="scss">
#sso-account .sso-main .sso-container #sso-page .sso-content {
  .sso-mobile-input {
    display: flex;
    border-bottom: 1px solid #a7a7a7;

    .sso-area-codes {
      width: 50px;

      .sso-input-group .sso-select .dropdown-toggle {
        border: none !important;
      }

      .dropdown-menu li[role="option"] .cflags {
        width: 24px;
        height: 17px;
        margin-right: 14px;
      }

      .v-select .vs__selected-options {
        padding: 0;
      }

      .selected-tag {
        .cflags {
          width: 24px;
          height: 17px;
        }
      }

      .cflags {
        display: inline-block;
        vertical-align: middle;
        background-size: 26px auto;
        background-repeat: no-repeat;
        background-image: url("//assets.abs-cbn.com/thankyou/2.0.1/images/placeholders/flags/img-flags.png");
      }

      .sso-floating-label {
        display: none !important;
      }
    }

    .sso-mobile-text {
      width: auto;
      flex-grow: 1;

      .sso-input-group {
        margin-left: 10px;

        .sso-input-wrapper {
          border: none !important;
        }

        .active-input {
          left: -60px;
          background-color: transparent;
        }
      }
    }

    .v-select {
      li > a {
        padding: 3px 10px;
      }

      .vs__actions {
        width: 25px;
        padding-left: 0;
        padding-right: 0;

        .clear {
          display: none;
        }

        .open-indicator {
          width: auto;

          &::before {
            width: 7px;
            height: 7px;
            margin-top: 5px;
            margin-left: 3px;
            border-width: 2px 2px 0 0;
          }
        }
      }

      .dropdown-menu {
        width: 300px;
      }

      .dropdown-toggle:after {
        content: "";
        border-right: 1px solid #656262;
        position: relative;
        /* left: -5px; */
        height: 20px;
        top: 6px;
      }
    }

    .sso-prefixes {
      font-weight: 300;
      color: #b6b6b6;
    }
  }
}
</style>