<template>
	<div class="sso-overview-header">
		<ul v-bind:class="{ 'sso-inactive-component': isShow }">
			<span class="close-side" @click="showNavigation">X</span>
			<li>
				<router-link active-class="sso-link-active" to="/overview">Overview</router-link>
			</li>
			<li>
				<router-link active-class="sso-link-active" to="/privacy-policy">Privacy Notice</router-link>
			</li>
			<li>
				<router-link active-class="sso-link-active" to="/terms-and-conditions">Terms and Conditions</router-link>
			</li>
		</ul>
		<div class="overlay" v-bind:class="{ 'sso-inactive-component': isShow }" @click="showNavigation"></div>
		<div class="menu-bar">
			<div>
				<button class="menu-toggle" @click="showNavigation">
					<i class="fa fa-bars fa-1x"></i>
				</button>
			</div>
			<h5>{{title}}</h5>
		</div>
	</div>
</template>

<script>

export default {
	name : 'overview-header',
	props: {
		title: {
			type: String,
		}
	},
	data: () => ({
		isShow : true,
		topBarTitle : 'Overview'
	}),
	mounted() {
		window.addEventListener('resize', function() {
			this.isShow = true;
		});
        document.getElementById('sso-container').style.background='#ffffff';
    },
    destroyed() {
        document.getElementById('sso-container').style.background='#111111';        
    },
	methods: {
		navigateTo(name) {
            this.$router.push({ name });
        },
		showNavigation() {
			if(this.isShow) {
				this.isShow = false;
			} else {
				this.isShow = true;
			}
		}
	}
};
</script>

<style lang="scss">

@import "@/assets/css/variables.scss";
// .sso-container {
// 	background: #fff;
.sso-overview-header {
	background: #fff;
	max-width: 95%;
	margin: 0 auto;

	.overlay,
	.close-side { display: block; }
	.economy-logos { display: inline-block; }
	ul {
		text-align: left;
		border-bottom: 1px solid rgba(151,151,151,0.5);
		padding: 20px;
		.sso-link-active {
			border-bottom : 4px solid #111111;
			-webkit-transition: 1s all ease;
			transition: 1s all ease;
		}
		li {
			display: inline;
			margin-right: 30px;
			a { 
				color: #111;
				cursor: pointer;
				padding: 15px 30px 16px 0px;		
				text-decoration: none;		
			}
		}
	}
	ul:first-child {
		margin: 0px;
		padding-left: 0px;
	}
	.menu-bar {
		display: none;
	}
}

// Small devices
@media (max-width: $screen-sm) {
	.sso-overview-page {
		margin-top: 0px !important;
		.economy-logos { display: inline-block; }		
	}
	.sso-overview-header {
		.sso-inactive-component { 
			-webkit-transition: 1s all ease;
			transition: 1s all ease;
			display: none !important;
		}
		.overlay {
			-webkit-transition: 1s all ease;
			transition: 1s all ease;
			// display: block; 
			position: fixed;
			top: 0;
			width: 100%;
			background: rgba(0, 0, 0, 0.32);
			z-index: 2;
			height: 100%;
		}
		.close-side {
			display: block;
			color: #fff;
			position: absolute;
			right: 20px;
		}
		// display: none;
		max-width: 100%;
		ul {
			position: fixed;
			top: 0;
			z-index: 5;
			background: #111;
			height: 100%;
			margin: 0;
			box-shadow: 14px 0 28px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
			.sso-link-active {
				border : none;
				padding: 0;
				color: #fff;				
			}
			li {
				padding: 10px;
				display: block;
				a {
					color: gray;
				}
			}
		}
		.menu-bar  {
			display: block !important;
			width: 100%;
			border-bottom: 1px solid #dadada;
			z-index: 999999999;
			// position: fixed;
			// left: 0;
			// right: 0;
			// top: 50px;
			background: #ffffff;
			h5 {
				width: 48%;
				color: #111111; 
				// display: inline-grid;
				padding-right: 10px;
				text-align: right;
				float: right;
			}
			div {
				text-align: left;
				float: left;
				width: 48%;
				// display: inline-grid;
				button {
					margin-top: 16px;
					background: transparent;
					border: none;
					text-align: left;
					// font-size: 2em;
					outline: none;
					i { padding: 0px 0px 0px 10px; }
				}
			}
		}
	}
}

</style>
