<template>
	<div id="sso-page" class="sso-py-2">
		<div class="sso-page-wrapper fadeIn animated duration-500ms delay-250ms" v-show="!loaderShow">
			<div class="sso-title-container">
				<p class="sso-secondary-title sso-m-0 sso-mb-1" v-if="secondaryTitle" v-html="secondaryTitle"></p>
				<h2 class="sso-title sso-m-0" v-if="title" v-html="title"></h2>
				<slot name="sub-title">
					<p :class="[subTitleClass, 'sso-px-1']" v-if="subTitle" v-html="subTitle"></p>
				</slot>
				<slot name="custom-title"></slot>
			</div>
			<div class="sso-content sso-mb-3 sso-mt-2">
				<div class="sso-error-summary sso-px-2 sso-mb-4" v-if="errorMessage">{{ errorMessage }}</div>
				<slot></slot>
			</div>
			<div class="sso-goback" v-if="view === 'fullscreen' && backPage">
				<router-link :to="prevRoute" class="sso-link">{{ prevRouteText }}</router-link>
			</div>
		</div>

		<!-- loading animation -->
		<sso-loader :delay="loadingDelay" :content="loaderContent" v-if="loaderShow"></sso-loader>
	</div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
	name: "sso-page",

	props: {
		title: {
			type: String
		},

		secondaryTitle: {
			type: String
		},
		
		subTitle: {
			type: String
		},

		subTitleClass: {
			type: String,
			default: "sso-subTitle"
		},

		loading: {
			type: Boolean,
			default: false
		},

		loadingDelay: {
			type: String,
			default: 'delay-250ms'
		},

		errorMessage: {
			type: String,
			default: null
		}
	},

	data: () => ({
		loaderShow: false,
		loaderContent: null
	}),

	mounted() {
		this.loaderShow = this.loading;
		this.$loader._setPage(this);
	},

	computed: {
		...mapState(["view"]),
		...mapGetters(["backPage"]),

		year() {
			return new Date().getFullYear();
		},

		prevRoute() {
			if (typeof this.backPage === 'object') {
				return this.backPage.path;
			}

			return this.backPage;
		},

		prevRouteText() {
			if (typeof this.backPage === 'object') {
				return this.backPage.text;
			}

			return 'Go back';
		}
	},

	methods: {
		showLoader(content) {
			this.loaderShow = true;
			this.loaderContent = content;
		},

		hideLoader() {
			let t = setTimeout(() => {
				this.loaderShow = false;
				this.loaderContent = null;

				clearTimeout(t);
			}, 500);
		}
	}
};
</script>

<style lang="scss">
div#sso-page {
    margin: 0 auto;
    padding: 0 24px;
    max-width: 350px;
    box-sizing: border-box;

	.sso-page-wrapper {
		@media (max-width: 576px) { 
			height: auto;
		}
	
		.sso-title-container {
			.sso-secondary-title {
				font-size: 10px;
				color: #898989;
				line-height: 1.4;
				font-weight: 300;
				letter-spacing: 1px;
			}

			.sso-title {
				font-size: 14px;
				line-height: 1.4;
			}

			.sso-subTitle {
				font-size: 0.85em;
				line-height: 18px;
			}
		}
	}
}
</style>
