<template>
	<span class="sso-password-detection" :class="passwordStrength"></span>
</template>

<script>
export default {
	name: 'sso-password-strength',

	data: () => ({
		passwordStrength: null
	}),

	props: {
		value: {
			type: String,
			default: null
		}
	},

	watch: {
		value: function(val) {
			if (val !== "" || val !== null) {
				this.validatePasswordStrength(val);
			}
		}
	},

	methods: {
		validatePasswordStrength(val) {
            var strength = 0;

            strength += /[A-Z]+/.test(val) ? 1 : 0;
            strength += /[a-z]+/.test(val) ? 1 : 0;
            strength += /[0-9]+/.test(val) ? 1 : 0;
            strength += /[\W]+/.test(val) ? 1 : 0;

            switch(strength) {
				case 3:
					this.passwordStrength = 'sso-medium-password';
					break;
				case 4:
					this.passwordStrength = 'sso-strong-password';
					break;
				case 1: 
					this.passwordStrength = 'sso-weak-password';
					break;
				case 0:
					this.passwordStrength = null;
					break;
            }
        }
	}
};
</script>
