<template>
	<div class="sso-form-control">
		<label class="sso-pin-label">{{ label }}</label>
		<span class="sso-pin-wrapper">
			<input ref="input" autocomplete="off" class="sso-pin-input" type="text"
				v-model="val"
				v-bind:name="name" 
				v-bind:maxlength="length" 
				v-bind:minlength="length" 
				v-bind:aria-disabled="ariaDisable" 
				@contextmenu="() => false"
				@paste="() => false"
				@copy="() => false"
				@cut="() => false"
				@keydown="keydown"
				@blur="blur">

			<div @focus="focus" class="sso-pin-content sso-clearfix" :tabindex="tabindex">
				<span @focus="focus" class="pin-container pin" :class="{ 'active': isPinActive(i) }" :key="i" v-for="(index, i) in length">{{ val[i] }}</span>
			</div>
		</span>
	</div>
</template>

<script>
export default {
	name: "sso-pin",

	props: {
		label: {
			type: String,
			default: "PIN"
		},
		value: {
			type: String,
			default: ""
		},
		ariaDisable: {
			type: Boolean,
			default: false
		},
		name: {
			type: String,
			default: null
		},
		length: {
			type: Number,
			default: 6
		},
		onlyNumber: {
			type: Boolean,
			default: true
		},
		tabindex: {
			type: Number,
			default: 0
		}
	},

	data: () => ({
		val: "",
		status: "",
		step: 0,
		MODE: {
			FOCUS: 1,
			BLUR: 2,
			COMPLETE: 3
		}
	}),

	computed: {
		inputStyle() {
			return {
				width: '40px',
				left: `${this.val.length * this.step}px`
			};
		}
	},

	watch: {
		val(val) {
			this.$emit('input', val);
			if (this.status === this.MODE.BLUR) {
				return;
			}

			if (val.length === this.length) {
				this.status = this.MODE.COMPLETE;
			} else {
				this.status = this.MODE.FOCUS;
			}
		},
		value(value) {
			this.updateVal(value);
		}
	},

	mounted() {
		this.status = this.MODE.BLUR;
		this.updateVal(this.value);
		this.step = (this.$el.offsetWidth - 2) / this.length;
	},

	methods: {
		keydown(e) {
			if (!this.onlyNumber) {
				return;
			}

			const key = e.charCode || e.keyCode || 0;
			if (
				!(
					key == 8 ||
					key == 9 ||
					key == 46 ||
					key == 110 ||
					key == 190 ||
					(key >= 35 && key <= 40) ||
					(key >= 48 && key <= 57) ||
					(key >= 96 && key <= 105)
				)
			) {
				e.preventDefault();
			}
		},

		updateVal(value) {
			if (this.val === value || value.length > this.length) {
				return;
			}

			this.val = value;
		},

		clear() {
			this.val = "";
			this.$emit('clear');
		},

		blur() {
			this.status = this.MODE.BLUR;
			this.$emit('blur');
		},

		focus(e) {
			if (this.ariaDisable) {
				if (e) {
					e.preventDefault();
					e.stopPropagation();
				}

				return false;
			}

			this.$refs.input.focus();
			if (this.val.length === this.length) {
				this.status = this.MODE.COMPLETE;
			} else {
				this.status = this.MODE.FOCUS;
			}

			this.$emit('focus');
		},

		isPinActive(i) {
			if (this.val.length === this.length) {
				return this.val.length === i + 1 && this.status === this.MODE.COMPLETE;
			} else {
				return this.val.length === i && this.status === this.MODE.FOCUS;
			}
		}
	}
};
</script>

<style lang="scss">
@import "../assets/css/mixins.scss";
@include sso-page-content {
	.sso-form-control {
		.sso-pin-label {
			display: block;
			font-size: 13px;
			color: #a3a3a3;
			margin-bottom: 5px;
		}

		.sso-pin-wrapper {
			zoom: 1;
			display: inline-block;

			.sso-pin-input {
				left: 0;
				opacity: 0;
				width: 1px;
				height: 1px;
				color: #fff;
				outline: none;
				font-size: 1px;
				position: absolute;
				margin-right: 9999px;
				box-sizing: content-box;
				-webkit-user-select: initial;
			}

			.sso-pin-content {
				cursor: text;
				outline: none;
				height: auto;
				position: relative;
				border-radius: 2px;
				box-sizing: content-box;

				span.pin-container {
					float: left;
					height: 15px;
					display: block;
					margin: 0 2px;
					min-width: 35px;
					padding: 12px 2px;
					box-sizing: content-box;
					background: #353535;
					border: 1px solid #070707;
					border-radius: 3px;

					&.pin {
						font-size: 12px;

						&.active {
							position: relative;
							border: 1px solid rgba(94, 94, 94, 0.8);
							box-shadow: inset 0 3px 3px #00000063, 0 0 8px #898989c7;

							&::before {
								top: 7px;
								left: 17px;
								content: "|";
								font-size: 20px;
								color: #c0c0c0;
								font-weight: 100;
								position: absolute;
								animation: blink-animation 1s steps(5, start) infinite;
								-webkit-animation: blink-animation 1s steps(5, start) infinite;

								@keyframes blink-animation {
									to {
										visibility: hidden;
									}
								}
								@-webkit-keyframes blink-animation {
									to {
										visibility: hidden;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
</style>
