<template>
    <div class="sso-form-control" ref="control" :class="{ 'sso-has-error': error }">

        <!-- tooltip -->
        <sso-tooltip>
            <span>{{ tooltip.text }}</span>
            <span class="sso-input-icons" slot="reference">
                <i :class="tooltip.icon"></i>
            </span>
        </sso-tooltip>

        <div class="sso-mb-2">
            <div class="sso-radio ">
                <span class="sso-w-25 sso-radio-input" >
                    <input type="radio" name="gender" id="mr" class="sso-radion-button" v-model="val" value="MR">
                    <label class="sso-label salutation-label" for="mr">Mr.</label>
                </span>
                <span class="sso-w-25 sso-radio-input">
                    <input type="radio" name="gender" id="ms" class="sso-radion-button" value="MS"  v-model="val">
                    <label class="sso-label salutation-label" for="ms">Ms.</label>
                </span>
                <span class="sso-w-25 sso-radio-input">
                    <input type="radio" name="gender" id="mrs" class="sso-radion-button" value="MRS" v-model="val">
                    <label class="sso-label salutation-label" for="mrs">Mrs.</label>
                </span>
                <span class="sso-w-25 sso-radio-input">
                    
                </span>

            </div>
        </div>
        <div class="sso-input-group">
            <!-- error message -->
            <transition enter-active-class="slideInDown animated duration-250ms" leave-active-class="slideOutUp animated duration-250ms">
                <div class="sso-error-container" v-if="error">
                    <slot name="error">
                        <div class="sso-error">{{ error }}</div>
                    </slot>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
import { isNull, isEmpty } from "lodash";

export default {
    name: "sso-salutation",

    props: {
        label: {
            type: String
        },

        tooltip: {
            type: Object,
            default: () => ({})
        },

        activeClass: {
            type: String,
            default: "active-input"
        },

        error: {
            type: [String, Boolean],
            default: null
        },
    },

    watch: {
        val: function(value) {
            this.$emit('value', value);
        }
    },

    computed: {
        labelFloat() {
            if (isNull(this.value) && !this.isFocus) {
                return false;
            }

            if (isEmpty(this.value) && !this.isFocus) {
                return false;
            }

            return true;
        }
    },

    data: () => ({
        isFocus: false,
        val: null
    }),

    methods: { 
        floatLabel(float) {
            this.labelFloat = float;
        }
    }
};
</script>
<style lang="scss">
     .salutation-label {
         text-transform: capitalize !important;
     }
</style>
