<template>
	<div class="sso-form-control sso-select-control" ref="control" :class="{ 'sso-has-error': error }">
		<div class="sso-input-group">
			<span class="sso-input-icons" v-if="icon">
				<slot name="icon">
					<i :class="icon"></i>
				</slot>
			</span>
			<label class="sso-floating-label" :class="{ [activeClass]: selected }" v-if="!hideLabel">{{ label }}</label>
			<v-select class="sso-select" :options="selectOptions" :label="selectLabel" :value="selectedValue" maxHeight="250px" v-model="selected">
				<template slot="selected-option" slot-scope="option">
					<slot name="selected" v-bind="(typeof option === 'object') ? option: { [selectLabel]: option }">
						<span>{{ getSelectLabel(option) }}</span>
					</slot>
				</template>
				<template slot="option" slot-scope="option">
					<slot name="select-option" v-bind="option">
						<span>{{ getSelectLabel(option) }}</span>
					</slot>
				</template>
			</v-select>
			
			<p class="sso-field-info sso-m-0 sso-pt-1" v-if="info">{{ info }}</p>
			<slot name="custom"></slot>
			<transition enter-active-class="slideInDown animated duration-250ms" leave-active-class="slideOutUp animated duration-250ms">
				<div class="sso-error-container" v-if="error">
					<slot name="error">
						<div class="sso-error">{{ error }}</div>
					</slot>
				</div>
			</transition>
		</div>
	</div>
</template>

<script>
import vSelect from "vue-select";
import { isNull, isEmpty } from "lodash";

export default {
	name: "sso-select",

	components: { "v-select": vSelect },

	props: {
		label: {
			type: String
		},

		name: {
			type: String
		},

		type: {
			type: String,
			default: "text"
		},

		icon: {
			type: String,
			default: null
		},

		selectOptions: {
			type: Array
		},

		selectLabel: {
			type: String,
			default: null
		},

		selectedValue: {
			type: [String, Object],
			default: null
		},

		hasOtherOption: {
			type: Boolean,
			default: false
		},

		activeClass: {
			type: String,
			default: "active-input"
		},

		info: {
			type: String,
			default: null
		},

		error: {
			type: [String, Boolean],
			default: null
		},

		hideLabel: {
			type: [Boolean, String],
			default: false
		}
	},

	watch: {
		selected(value) {
			this.$emit("input", value);
		},

		selectedValue(value) {
			this.selected = value;
		}
	},

	computed: {
		labelFloat() {
			if (isNull(this.value) && !this.isFocus) {
				return false;
			}

			if (isEmpty(this.value) && !this.isFocus) {
				return false;
			}

			return true;
		}
	},

	data: () => ({
		isFocus: false,
		selected: null
	}),

	methods: {
		onInput(event) {
			this.$emit("input", event.target.value);
		},

		onFocus(event) {
			this.isFocus = true;
			this.$emit("focus", event);
		},

		onBlur(event) {
			this.isFocus = false;
			this.$emit("blur", event);
		},

		notEmpty(value) {
			return !isEmpty(value);
		},

		floatLabel(float) {
			this.labelFloat = float;
		},

		getSelectLabel(option) {
			if (typeof option === "string") return option;

			if (typeof option === "object") return option[this.selectLabel];

			return "";
		}
	},
	created(){
		if(this.hasOtherOption){
			let selectOption = {countryCode: null, countryName: "Select Country"};
			this.selectOptions.forEach(item => {
				if(item.countryCode == null){
					this.selectOptions.shift(selectOption);
				}
			});

			this.selectOptions.unshift(selectOption);
		}
	}
};
</script>

<style lang="scss">
@import "../assets/css/mixins.scss";
@include sso-page-content {
	.sso-form-control {
		&.sso-select-control {
			.sso-input-group {
				.sso-floating-label {
					z-index: 6;
				}
			}
		}

		.sso-input-group {
			.sso-select {
				.dropdown-toggle {
					padding: 0;
					border: none;
					border-radius: 0;

					.vs__selected-options {
						.selected-tag {
							color: inherit;
							height: 100%;
							padding: 0;
							margin: 0;
						}

						input {
							margin: 0;
							padding: 0;
							height: 30px;
							color: #b6b3b3;
							box-sizing: border-box;
						}
					}

					.vs__actions {
						z-index: 7;
						padding-bottom: 6px;

						button.clear {
							color: inherit;
							font-size: 20px;
							padding-top: 5px;
							padding-right: 7px;
						}

						i {
							&::before {
								border-color: inherit;
							}
						}
					}
				}
			}
		}
	}
}
</style>
