<template>
	<div class="sso-connected-sites sso-mt-4">
		<i v-for="i in shownLogos" :class="['sso-sites', `sso-icon-${i}`]" :key="i"></i>
	</div>
</template>

<script>
export default {
	name: 'sso-sites',

	data: () => ({
		numOfSites: 18,
		siteLogoIndex: [4, 1, 8, 3, 17, 12, 2, 18, 9]
	}),

	computed: {
		shownLogos() {
			if (!this.siteLogoIndex || typeof this.siteLogoIndex === undefined)
				return this.numOfSites;

			if (this.siteLogoIndex.length === 0)
				return this.numOfSites;

			return this.siteLogoIndex;
		}
	},

	methods: {
		checkIndex(index) {
			if (!this.shownLogos) this.shownLogos = [];

			if (this.shownLogos.length === 0) return true;

			return this.shownLogos.includes(index);
		},


	}
};
</script>

<style lang="scss">
@import "@/assets/css/mixins.scss";
@include sso-page-content {
	$size: 60px;
	$logoCount: 18;

	.sso-connected-sites {
		.sso-sites {
			width: $size;
			height: $size;
			margin: 4px;
			display: inline-block;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url("//assets.abs-cbn.com/sso/images/login-hub@2x.png");

			@for $i from 1 through $logoCount {
				&.sso-icon-#{$i} {
					background-position-x: 0px;
					background-position-y: ($i * -$size) + $size;
				}
			}
		}
	}
}
</style>
