<template>
    <div id="sso-tooltip-wrapper">
        <div class="sso-tooltip" ref="tooltip" :style="style" :class="animClass">
            <div class="tooltip-flex tooltip-text">
                <slot></slot>
            </div>
        </div>
        <div class="sso-tooltip-ref">
            <slot name="reference"></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "sso-tooltip",

    props: {
        offsetY: {
            type: Number,
            default: 0
        }
    },

    data: () => ({
        show: false,
        clientHeight: 0
    }),

    computed: {
        style() {
            return {
                top: -(this.clientHeight + (40 + this.offsetY)) + "px",
                visibility: this.show ? "visible" : "hidden"
            };
        },

        animClass() {
            return this.show ? ["fadeIn animated duration-500ms"] : null;
        }
    },

    watch: {
        show() {
            const slotDefault = this.$slots.default;
            if (slotDefault && slotDefault.length > 0) {
                let _default = slotDefault[0];
                if (_default.elm) {
                    this.clientHeight = _default.elm.clientHeight;
                }
            }
        }
    },

    created() {
        this.$nextTick(() => {
            this.toolipEl = this.$refs.tooltip;

            const slotRefs = this.$slots.reference;
            if (slotRefs && slotRefs.length > 0) {
                let reference = slotRefs[0];
                if (reference.elm) {
                    reference.elm.addEventListener(
                        "mouseenter", () => {
                            this.show = true;
                        },
                        true
                    );

                    reference.elm.addEventListener("mouseout", () => {
                        this.show = false;
                    });

                    reference.elm.addEventListener("click", () => {
                        this.show = !this.show;
                    });
                }
            }
        });
    }
};
</script>

<style lang="scss">
#sso-tooltip-wrapper {
    .sso-tooltip {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        height: auto;
        position: absolute;

        .tooltip-flex {
            display: flex;
            background-color: #edfbff;
            border: 2px solid #acd5e5;

            &.tooltip-text {
                font-size: 11px;
                color: #393939;
                padding: 10px 15px;
                border-radius: 4px;
                box-sizing: border-box;
            }

            &::after {
                content: "";
                right: 10px;
                width: 13px;
                height: 13px;
                bottom: -7px;
                display: block;
                border-radius: 2px;
                position: absolute;
                transform: rotate(45deg);
                background-color: #edfbff;
                border-right: 2px solid #acd5e5;
                border-bottom: 2px solid #acd5e5;
            }
        }
    }
}
</style>
