<template>
    <div class="sso-uninav sso-nav-dark" id="uninav">
		<div class="sso-uninav-wrapper">
			<div class="sso-uninav__left"></div>
			<div class="sso-uninav__right">
				<transition enter-active-class="slideInRight animated duration-500ms" leave-active-class="slideOutRight animated duration-250ms">
					<p class="sso-uninav__user" id="uninav-login" v-if="isGigyaLoaded" @click="$emit('login-click')">
						<i class="far fa-user"></i>
						<span>LOGIN</span>
					</p>
					<p class="sso-uninav__loading" v-else  @click="$emit('login-click')">
						<span>LOADING..</span>
					</p>
				</transition>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState } from "vuex";
export default {
	name: "sso-uninav",

	computed: {
		...mapState(["isGigyaLoaded"])
	}
};
</script>

<style lang="scss">
#sso-account {
	div#uninav {
		&.sso-uninav {
			top: 0;
			left: 0;
			width: 100%;
			position: fixed;
			z-index: 999999;
			font-size: 13px;
			font-weight: 100;
			user-select: none;

			&.sso-nav-dark {
				color: #fff;
				background-color: #000;
			}
		}

		.sso-uninav-wrapper {
			display: flex;
			justify-content: space-between;

			.sso-uninav__right {
				padding-right: 13px;

				p {
					margin: 0;
					padding: 7px 0;
					cursor: pointer;

					span {
						font-weight: 400;
					}

					.fa-user {
						font-size: 1.2em;
						margin-right: 7px;
					}
				}
			}
		}
	}
}
</style>
