<template>
	<div id="sso-account">
		<transition :enter-active-class="enterAnimation" :leave-active-class="leaveAnimation">
			<main id="sso-main" class="sso-main" :class="[colorTheme, activeModeClass]" v-if="isOpen">
				<nav class="sso-nav sso-pt-1" v-if="activeMode !== MODES.FULL_SCREEN">
					<i v-if="!canGoBack"></i>
					<i class="sso-nav-icon sso-back fa fa-arrow-left" @click="goBack()" v-if="canGoBack"></i>
					<i class="sso-nav-icon sso-close fa fa-times" @click="toggleOpen(false)"></i>
				</nav>
				<section class="sso-header sso-clearfix">
					<h1 @click="$router.replace({ path: '/' })">
						<span>KAPAMILYA</span>
						<img src="//assets.abs-cbn.com/sso/images/sso_logo_80x80.png" alt="ABS-CBN Accounts" width="25" height="25">
						<span>ACCOUNTS</span>
					</h1>
				</section>
				<section class="sso-container" id="sso-container">
					<router-view v-if="isGigyaLoaded && !error"></router-view>
					
					<sso-loader v-if="!isGigyaLoaded && !error"></sso-loader>

					<div class="sso-error-wrapper" v-if="error">
						<div class="sso-error sso-my-5 sso-px-4">
							<img src="./assets/svg/error-triangle.svg" width="80px">
							<p class="sso-mt-2">
								<span class="sso-errMsg sso-d-block" v-html="error.errorMessage"></span>
								<span class="sso-errDtl sso-d-block sso-px-3" v-html="error.errorDetails"></span>
							</p>
						</div>
					</div>
				</section>
				<section class="sso-page-footer" v-if="showFooter">
					<div class="sso-footer-content">
						<div class="sso-links-container">
							<a href="/overview" target="_blank">Contact Us</a>
							<a href="/privacy-policy" target="_blank">Privacy Notice</a>
							<a href="/terms-and-conditions" target="_blank">Terms and Conditions</a>
						</div>
						<p class="sso-mt-0 sso-mb-3">© <span id="sso-year">{{ year }}</span>. ABS-CBN Corporation. All Rights Reserved.</p>
					</div>
				</section>
			</main>
		</transition>

		<div class="sso-dimmer fadeIn animated" v-if="isOpen && activeMode !== MODES.FULL_SCREEN" @click="toggleOpen(false)"></div>
	</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';

export default {
	data: () => ({
		isOpen: false,
		activeMode: 1,
		activeTheme: 'dark',

		MODES: {
			SLIDE_PANEL: 1,
			FULL_SCREEN: 2
		}
	}),

	props: {
		apiKey: {
			type: String
		},
		theme: {
			type: String,
			default: 'dark'
		},
		initialized: {
			type: Function,
			default: null
		},
		view: {
			type: String,
			default: 'slidepanel'
		},
		verifType: {
			type: String,
			default: 'link'
		}
	},

	watch: {
		theme(newVal) {
			this.activeTheme = newVal;
		},

		view() {
			this.setPageView();
		}
	},

	computed: {
		...mapGetters(['backPage']),

		...mapState(['isGigyaLoaded', 'error', 'siteURL', 'showHome']),

		canGoBack() {
			return this.isGigyaLoaded && this.backPage;
		},

		colorTheme() {
			return 'sso-bg-' + this.activeTheme;
		},

		enterAnimation() {
			return this.activeMode === this.MODES.SLIDE_PANEL
				? 'slideInRight animated duration-500ms'
				: null;
		},

		leaveAnimation() {
			return this.activeMode === this.MODES.SLIDE_PANEL
				? 'slideOutRight animated duration-250ms'
				: null;
		},

		activeModeClass() {
			return 'sso-' + this.view;
		},
		
		year() {
			return new Date().getFullYear();
		},

		showFooter() {
			const expludedPages = [
				'/overview', 
				'/subsidiaries',
				'/privacy-policy', 
				'/terms-and-conditions'
			];

			return !expludedPages.includes(this.$route.path);
		}
	},

	methods: {
		...mapActions(['getCountries']),

		toggleOpen(isOpen, param = {}) {
			if (this.activeMode === this.MODES.FULL_SCREEN) {
				// eslint-disable-next-line
				return;
			}

			if (isOpen) {
				if (param.theme) {
					this.activeTheme = param.theme;
				}

				if (param.page) {
					this.$router.replace(param.page || '/default');
				} else {
					if (!this.isOpen) {
						this.$router.replace('/default');
					}
				}
			} else {
				this.$router.replace('/');
			}

			this.isOpen = isOpen;
		},

		goBack() {
			const prevPage = this.backPage;

			if (prevPage === '/default') {
				this.$store.dispatch('HIDE_PAGE', {
					notShow: false,
					page: { from: '/default', to: '/signin' }
				});

				this.$router.replace(prevPage);
			} else {
				this.$router.replace(prevPage);
			}
		},

		setPageView: function() {
			if (this.view === 'fullscreen') {
				this.activeMode = this.MODES.FULL_SCREEN;
				this.isOpen = true;
			}

			if (this.view === 'slidepanel') {
				this.activeMode = this.MODES.SLIDE_PANEL;
				this.$router.push({ path: "/" });
				this.isOpen = false;
			}
		}
	},

	mounted() {
		this.setPageView();
		this.activeTheme = this.theme;
		this.getCountries();

		this.$sso._setInstance(this, () => {
			if (this.initialized) {
				this.initialized();
			}

			const view = this.view;
			const ocpKey = this.apiKey;
			const verifType = this.verifType;

			this.$store
				.dispatch('INITIALIZE', { ocpKey, view, verifType })
				.then(apiKey => {
					this.$sso.setApiKey(apiKey, gigya => {
						this.$store.dispatch('GIGYA_LOADED', gigya);
					});
				});
		});
	}
};
</script>