<template>
	<sso-page :title="mobilenumberDisplay" secondary-title="MOBILE LOGIN" sub-title="is currently registered to Kapamilya Accounts.<br>Please enter your password to proceed." :error-message="errorMessage">
		<form class="sso-frm-content" v-on:submit.prevent="$v.$touch()">
			<div class="sso-kn-churning">
				<span>Kapamilya Name: </span>{{ displayUsername }}
			</div>
			<sso-input class="sso-mb-2" name="password" label="Password" v-model="password" :type="pwShown ? 'text' : 'password'" :error="errorPassword">
				<i class="fas" slot="icon" @click="pwShown = !pwShown" :class="[(pwShown ? 'fa-eye' : 'fa-eye-slash')]"></i>
			</sso-input>
			<div class="sso-form-link">
				<p>Not you? <a href="#" class="sso-link" v-on:click.prevent="onClickHere">Click here</a></p>
			</div>
			<sso-button type="submit" content="CONTINUE" @click="login(!$v.$invalid)"></sso-button>
		</form>
	</sso-page>
</template>

<script>
import { mapActions } from 'vuex'
import { SSO_LOGIN,SSO_SENDVERIF_CODE,SSO_ACCOUNT_INFO } from '@/services';
import { required } from 'vuelidate/lib/validators'

export default {
	data: () => ({
		pwShown: false,

		username: null,
		mobilenumber: null,
		displayUsername: null,
		password: null,
		errorMessage: null,
		errorPassword: null,
	}),

	validations: {
        password: { required }
	},

	computed: {
		mobilenumberDisplay() {
			let number = this.$route.query.mobileNumber;
			this.mobilenumber = this.$route.query.mobileNumber;
			if (!number)
				return null;

			let maskNumber = number.substring(number.length - 6, 0) + '*****' + number.substring(number.length,number.length-1);
			return maskNumber;
		},

	},

	mounted() {
		SSO_ACCOUNT_INFO({
			params:{
				UID: this.$route.query.UID,
				include: 'loginIDs'
			},
			callback: ({ loginIDs }) => {
				this.username = loginIDs.username;

				this.displayUsername  = this.username.substring(2,0) + Array(this.username.length-2).join("*");
				this.$nextTick(() => {
					this.$loader.hide();
				})
			}
		})
    },

	methods: {
		...mapActions('profileCompletion', ['setProfileCompletion']),

		login(valid) {
            if (!valid) 
                return

            this.$loader.show()
            
            SSO_LOGIN({
                data: {
                    loginID: this.username,
                    password: this.password,
                    keepMeLogin: this.keepLogin
                },
                params: { include: 'profile,loginIDs,data,password' },
                callback: result => this.processLoginResponse(result)
            })
		},
		
		processLoginResponse(result, params = {}) {
            const statusCode = result.statusCode

            // if credentials are correct,
            // store the session info in the browser cookie
            if (statusCode === 203200) {
				const data = result.data;
				// remove token for mobile churning
				localStorage.removeItem("sso:accounts:mobilechurn-registration");

                // sucessfully login the user
                this.$sso.successLogin({
                    cookieName: data.sessionInfo.cookieName,
                    cookieValue: data.sessionInfo.cookieValue
                })

                return
            }

            // user email address is not verified
            else if (statusCode === 203202) {
                // navigate to email verification has been sent.
                this.$router.push({
                    name: 'confirm-email-link',
                    query: { verifToken: result.verifToken }
                });
            }

            // if user account is in pending profile completion
            else if (statusCode === 203208) {
                this.setProfileCompletion(Object.assign({ facebook: params }, result.userData, )).then(() => {
                    const profileCompletionToken = result.profileCompletionToken
                    const profileCompletionType = result.profileCompletionType || ''
    
                    this.$router.push({
                        path: `/profile-completion/${profileCompletionType}`,
                        query: {
                            profileCompletionToken,
                            from: '/signin'
                        }
                    })
                })
            }

            // if user account email address needs an account linking.
            else if (statusCode === 203209) {
                this.$router.push({
                    name: 'social-account-linking',
                    query: Object.assign({}, result, {
                        user_id: params.user_id,
                        from: '/signin'
                    })
                });
            }

            // fb email address was declined by the user
            else if (statusCode === 403413) {
                this.$router.push({ 
                    name: 'social-email-declined' 
                })
            }

            else {
                this.errorMessage = 'Invalid Password';
            }

            this.$loader.hide()
        },

		onClickHere() {
			this.$loader.show();

			SSO_SENDVERIF_CODE({
				data:{
					mobileNumber: this.mobilenumber
				},
				callback: (result) => {
					const statusCode = result.statusCode

					if (statusCode === 203201){
						// navigate to mobile verification page
						this.$router.push({
							name: 'mobile-verify',
							query: {
								verifToken: result.verifToken,
								mobile: this.$route.query.mobileNumber,
								from: '/signup/mobile'
							}
						});

						return;
					}
				}
			});
		},

	}
};
</script>

<style lang="scss">
@import "@/assets/css/mixins.scss";
@include sso-page-title {
	.sso-secondary-title {
		font-size: 12px;
		font-weight: 500;
	}

	.sso-subTitle {
		margin: 0;
		font-weight: 400;
		font-size: 12px;
		color: #d6d6d6;
	}
}

@include sso-page-content {
	.sso-kn-churning {
		padding-bottom: 20px;
		text-align: left;
		font-size: 13px;
		font-weight: 400;
	}

	.sso-form-link {
		text-align: left;
	}

	.sso-mc-fp-container {
		text-align: left;
	}
}
</style>
